# Data Classification

# Notebook set-up

In [189]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [6]:
FIXTURES = os.path.abspath(os.path.join(os.path.dirname("."), "..", "..", "data"))
WHEAT = os.path.join(FIXTURES, "???", "???.csv")

In [190]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
exp=pd.read_csv('expresults.csv')
#election_spend=pd.read_csv('catall.csv')
results = pd.read_csv('candr.csv')
catsort= pd.read_csv('catsort.csv')

In [191]:
exp.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012.0
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012.0
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012.0
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010.0
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010.0

In [7]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008.0,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012.0,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008.0,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cs1 = catsort

In [9]:
cs1 = cs1.drop(['c2','c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis=1)

In [10]:
cs1.head()

     cand_id   cycle         c1
0  H6FL19038  2006.0  281886.64
1  H2NY17071  2004.0    4500.00
2  H8TX27023  2008.0   12900.00
3  H8OH18088  2012.0      30.00
4  H0SC01071  2008.0   83183.76

In [15]:
cs1.set_index(['cand_id','cycle'], inplace=True)

In [16]:
cs1.head()

                         c1
cand_id   cycle
H6FL19038 2006.0  281886.64
H2NY17071 2004.0    4500.00
H8TX27023 2008.0   12900.00
H8OH18088 2012.0      30.00
H0SC01071 2008.0   83183.76

In [38]:
cs1.loc["H0SC01071", 2006.0]

/Users/adammorris/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

                        c1
cand_id   cycle
H0SC01071 2006.0  34484.85
          2006.0       NaN
          2006.0       NaN
          2006.0       NaN
          2006.0       NaN
          2006.0       NaN
          2006.0       NaN

In [32]:
agg_df = cs1.sum(level=['cand_id','cycle'])
print(agg_df)

                         c1
cand_id   cycle
H0AK00089 2010.0     550.00
          2012.0        NaN
H0AK01038 2010.0    1569.23
H0AL00016 2010.0   19831.34
H0AL01030 2010.0    7054.34
          2012.0    3480.00
H0AL02087 2010.0        NaN
          2012.0   11727.82
          2014.0   12132.25
H0AL02103 2010.0    2197.40
H0AL02111 2010.0    4897.58
H0AL03184 2010.0      14.95
H0AL05049 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
          2010.0    5818.75
          2012.0   11016.15
          2014.0    4592.00
H0AL05155 2010.0   56555.95
          2012.0        NaN
H0AL05163 2010.0   54616.04
          2012.0   54178.00
          2014.0   15420.65
H0AL05171 2010.0    8174.82
H0AL05189 2010.0    1082.20
H0AL05197 2010.0        NaN
          2012.0        NaN
H0AL07060 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
...                     ...
S8TN00246 2008.0        NaN
S8TX00202 2008.0        NaN
          2010.0        NaN
S8TX00228 2008.0        NaN
S8VA00214 2004.0    1500.00
          2006.0     747.99
          2008.0     250.00
          2012.0  116540.57
          2014.0        NaN
S8VA00255 2008.0        NaN
          2010.0        NaN
S8VA00263 2008.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WA00194 2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WI00026 2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WI00158 2012.0    2377.63
          2014.0        NaN
S8WV00093 2008.0        NaN
S8WV00101 2010.0    2318.01
S8WY00163 2008.0        NaN
S8WY00171 2008.0        NaN

[10765 rows x 1 columns]

In [35]:
agg_df.loc['H0SC01071',2006.0]

c1    34484.85
Name: (H0SC01071, 2006.0), dtype: float64

In [28]:
#cs1 = cs1[pd.notnull(cs1['c1'])]

In [29]:
#cs1 = cs1.drop_duplicates()

In [10]:
#cs1.groupby(['cand_id','cycle'])['c1'].sum()

cand_id    cycle
H0AK00089  2010.0        550.00
H0AK01038  2010.0       1569.23
H0AL00016  2010.0      19831.34
H0AL01030  2010.0       7054.34
           2012.0       3480.00
H0AL02087  2012.0      11727.82
           2014.0      12132.25
H0AL02103  2010.0       2197.40
H0AL02111  2010.0       4897.58
H0AL03184  2010.0         14.95
H0AL05049  2010.0       5818.75
           2012.0      11016.15
           2014.0       4592.00
H0AL05155  2010.0      56555.95
H0AL05163  2010.0      54616.04
           2012.0      54178.00
           2014.0      15420.65
H0AL05171  2010.0       8174.82
H0AL05189  2010.0       1082.20
H0AL07086  2010.0     717735.35
           2012.0     329788.25
           2014.0     425989.76
H0AL07144  2010.0       3480.00
H0AL07177  2010.0        819.33
H0AR01083  2010.0     214009.09
           2012.0      76276.21
           2014.0      12132.25
H0AR01109  2010.0      70562.30
           2012.0       3705.02
           2014.0        250.00
                        ...
S8NE00117  2008.0       4504.99
           2010.0      42834.70
           2012.0     131279.44
           2014.0     114653.29
S8NJ00285  2014.0      28554.97
S8NM00168  2012.0    6511562.94
           2014.0      23646.70
S8NV00073  2012.0      24216.07
S8NY00082  2010.0    1099448.81
           2012.0    1167979.35
           2014.0    1153783.16
S8OH00011  2004.0      46934.23
           2010.0      41081.12
           2012.0      21861.42
S8OK00241  2010.0         41.25
           2014.0       1199.74
S8OR00199  2010.0        990.00
           2012.0        251.21
S8OR00207  2008.0       4696.39
           2010.0      88116.23
           2012.0     213361.03
           2014.0     216406.73
S8OR00231  2010.0          3.24
           2012.0          3.78
S8VA00214  2004.0       1500.00
           2006.0        747.99
           2008.0        250.00
           2012.0     116540.57
S8WI00158  2012.0       2377.63
S8WV00101  2010.0       2318.01
Name: c1, dtype: float64

In [51]:
print(cs2)

         cand_id   cycle  c2
0      H6FL19038  2006.0 NaN
1      H2NY17071  2004.0 NaN
2      H8TX27023  2008.0 NaN
3      H8OH18088  2012.0 NaN
4      H0SC01071  2008.0 NaN
5      S0CA00199  2010.0 NaN
6      S0MI00056  2014.0 NaN
7      H2GA12113  2012.0 NaN
8      H8NJ03156  2010.0 NaN
9      H6AZ08020  2006.0 NaN
10     H4WV03070  2014.0 NaN
11     H4WI04191  2006.0 NaN
12     H8VA10072  2008.0 NaN
13     H2MA01202  2012.0 NaN
14     H6WV03083  2006.0 NaN
15     H8WY00148  2012.0 NaN
16     H8WI01024  2014.0 NaN
17     H6TX09033  2004.0 NaN
18     H0IN07157  2012.0 NaN
19     H2MI11042  2014.0 NaN
20     H0FL12150  2010.0 NaN
21     H8AL05109  2012.0 NaN
22     H8VA11039  2010.0 NaN
23     H2MN08103  2012.0 NaN
24     H4TX19136  2012.0 NaN
25     S2CA00286  2006.0 NaN
26     H0WI07051  2012.0 NaN
27     H0NY02085  2010.0 NaN
28     H4TN06051  2008.0 NaN
29     H8CA37137  2012.0 NaN
...          ...     ...  ..
43379  H6TX09033  2004.0 NaN
43380  S8NM00184  2014.0 NaN
43381  H6OH15104  2014.0 NaN
43382  H2TX21094  2012.0 NaN
43383  S8ID00027  2010.0 NaN
43384  H4PA08074  2006.0 NaN
43385  S0NY00410  2012.0 NaN
43386  S0NH00219  2008.0 NaN
43387  H4TX09095  2008.0 NaN
43388  H4MD06175     NaN NaN
43389  H6HI02301  2006.0 NaN
43390  S2MO00353  2006.0 NaN
43391  H8OH01043  2008.0 NaN
43392  H0NY27066  2010.0 NaN
43393  H2AL05094  2014.0 NaN
43394  H0KY03226  2010.0 NaN
43395  H8NC11061  2012.0 NaN
43396  H6CA27272  2006.0 NaN
43397  H2ND00057  2008.0 NaN
43398  S2GA00118  2008.0 NaN
43399  S6MO00297  2010.0 NaN
43400  H8AZ05071  2008.0 NaN
43401  H2AZ07070  2014.0 NaN
43402  H2GA05133  2012.0 NaN
43403  H8FL00026     NaN NaN
43404  H8OH05044  2004.0 NaN
43405  H0WA02098  2012.0 NaN
43406  H0WV01072  2014.0 NaN
43407  H4AZ05047     NaN NaN
43408  S0AR00069  2014.0 NaN

[43409 rows x 3 columns]

In [53]:
cs2.set_index(['cand_id','cycle'], inplace=True)

In [54]:
print(cs2)

                  c2
cand_id   cycle
H6FL19038 2006.0 NaN
H2NY17071 2004.0 NaN
H8TX27023 2008.0 NaN
H8OH18088 2012.0 NaN
H0SC01071 2008.0 NaN
S0CA00199 2010.0 NaN
S0MI00056 2014.0 NaN
H2GA12113 2012.0 NaN
H8NJ03156 2010.0 NaN
H6AZ08020 2006.0 NaN
H4WV03070 2014.0 NaN
H4WI04191 2006.0 NaN
H8VA10072 2008.0 NaN
H2MA01202 2012.0 NaN
H6WV03083 2006.0 NaN
H8WY00148 2012.0 NaN
H8WI01024 2014.0 NaN
H6TX09033 2004.0 NaN
H0IN07157 2012.0 NaN
H2MI11042 2014.0 NaN
H0FL12150 2010.0 NaN
H8AL05109 2012.0 NaN
H8VA11039 2010.0 NaN
H2MN08103 2012.0 NaN
H4TX19136 2012.0 NaN
S2CA00286 2006.0 NaN
H0WI07051 2012.0 NaN
H0NY02085 2010.0 NaN
H4TN06051 2008.0 NaN
H8CA37137 2012.0 NaN
...               ..
H6TX09033 2004.0 NaN
S8NM00184 2014.0 NaN
H6OH15104 2014.0 NaN
H2TX21094 2012.0 NaN
S8ID00027 2010.0 NaN
H4PA08074 2006.0 NaN
S0NY00410 2012.0 NaN
S0NH00219 2008.0 NaN
H4TX09095 2008.0 NaN
H4MD06175 NaN    NaN
H6HI02301 2006.0 NaN
S2MO00353 2006.0 NaN
H8OH01043 2008.0 NaN
H0NY27066 2010.0 NaN
H2AL05094 2014.0 NaN
H0KY03226 2010.0 NaN
H8NC11061 2012.0 NaN
H6CA27272 2006.0 NaN
H2ND00057 2008.0 NaN
S2GA00118 2008.0 NaN
S6MO00297 2010.0 NaN
H8AZ05071 2008.0 NaN
H2AZ07070 2014.0 NaN
H2GA05133 2012.0 NaN
H8FL00026 NaN    NaN
H8OH05044 2004.0 NaN
H0WA02098 2012.0 NaN
H0WV01072 2014.0 NaN
H4AZ05047 NaN    NaN
S0AR00069 2014.0 NaN

[43409 rows x 1 columns]

In [39]:
#cs2 = catsort

In [40]:
#cs2 = cs2.drop(['c1','c3','c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis =1)

In [46]:
#cs2.head()

     cand_id   cycle  c2
0  H6FL19038  2006.0 NaN
1  H2NY17071  2004.0 NaN
2  H8TX27023  2008.0 NaN
3  H8OH18088  2012.0 NaN
4  H0SC01071  2008.0 NaN

In [33]:
#cs2 = cs2[pd.notnull(cs2['c2'])]

In [56]:
cs2.loc["H2NY17071", 2004.0]

/Users/adammorris/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

                        c2
cand_id   cycle
H2NY17071 2004.0       NaN
          2004.0       NaN
          2004.0  12621.75
          2004.0       NaN
          2004.0       NaN
          2004.0       NaN
          2004.0       NaN
          2004.0       NaN
          2004.0       NaN
          2004.0       NaN
          2004.0       NaN

In [57]:
agg_df = cs2.sum(level=['cand_id','cycle'])
print(agg_df)

                        c2
cand_id   cycle
H0AK00089 2010.0       NaN
          2012.0       NaN
H0AK01038 2010.0     88.93
H0AL00016 2010.0    909.80
H0AL01030 2010.0   5233.32
          2012.0     27.72
H0AL02087 2010.0       NaN
          2012.0       NaN
          2014.0       NaN
H0AL02103 2010.0       NaN
H0AL02111 2010.0       NaN
H0AL03184 2010.0   1441.91
H0AL05049 2004.0       NaN
          2006.0       NaN
          2008.0       NaN
          2010.0       NaN
          2012.0       NaN
          2014.0       NaN
H0AL05155 2010.0  15549.94
          2012.0       NaN
H0AL05163 2010.0   2343.79
          2012.0   8154.95
          2014.0   8540.32
H0AL05171 2010.0       NaN
H0AL05189 2010.0       NaN
H0AL05197 2010.0       NaN
          2012.0       NaN
H0AL07060 2004.0       NaN
          2006.0       NaN
          2008.0       NaN
...                    ...
S8TN00246 2008.0       NaN
S8TX00202 2008.0       NaN
          2010.0       NaN
S8TX00228 2008.0       NaN
S8VA00214 2004.0       NaN
          2006.0       NaN
          2008.0       NaN
          2012.0       NaN
          2014.0       NaN
S8VA00255 2008.0       NaN
          2010.0       NaN
S8VA00263 2008.0       NaN
          2012.0       NaN
          2014.0       NaN
S8WA00194 2006.0       NaN
          2008.0       NaN
          2010.0       NaN
          2012.0       NaN
          2014.0       NaN
S8WI00026 2006.0       NaN
          2008.0       NaN
          2010.0       NaN
          2012.0       NaN
          2014.0       NaN
S8WI00158 2012.0    475.00
          2014.0       NaN
S8WV00093 2008.0       NaN
S8WV00101 2010.0       NaN
S8WY00163 2008.0       NaN
S8WY00171 2008.0       NaN

[10765 rows x 1 columns]

In [35]:
#cs2.drop_duplicates()

         cand_id   cycle        c2
7009   H0MA05066  2010.0    650.00
7010   H8ID02106  2008.0    408.27
7011   H4OH03055  2004.0  18866.30
7012   H4AZ08041  2004.0    247.39
7013   H2MD06146  2012.0    338.16
7014   H8MS03067  2008.0  35753.62
7015   H2IL18053  2012.0    449.80
7016   H6NY19102  2006.0   5239.41
7017   H8OH15076  2014.0   2188.04
7018   H4OH08062  2014.0    934.96
7019   H2ME01123  2012.0   2741.44
7020   H4NE01056  2004.0    241.01
7021   H0NY25078  2012.0   2857.46
7022   H2IL01042  2012.0  16919.32
7023   H8PR00062  2008.0  21942.67
7024   H2MN05125  2004.0   2518.70
7025   H2NM02126  2014.0  17558.05
7026   H4AL05082  2014.0    135.03
7027   H2TX01062  2012.0   1380.89
7028   H6CA07043  2010.0   4173.55
7029   H0AL07086  2014.0  57266.94
7030   H2GA01157  2006.0  10628.90
7031   H2IN06171  2012.0  14378.66
7032   H0IN08114  2012.0  21088.06
7033   H8FL22038  2012.0  90254.55
7034   S0WI00197  2010.0  50264.23
7035   H4PA09056  2014.0    750.00
7036   H8CA09060  2006.0  11177.42
7037   H2TX05121  2010.0  13331.12
7038   H2GA04102  2006.0   1724.26
...          ...     ...       ...
10505  H2MI02066  2008.0   7513.87
10506  H8CA01109  2008.0  11193.71
10507  H4NY24073  2014.0    342.00
10508  H8AL04045  2008.0   1300.59
10509  H2FL10150  2012.0    851.82
10510  H6NE03115  2014.0   2032.14
10511  H6WA03135  2006.0    668.97
10512  H4MI01122  2014.0    964.16
10513  H6MN05225  2006.0   1040.34
10514  H0NC12074  2010.0     43.73
10515  H4OH09060  2004.0   1421.48
10516  H2AZ07070  2006.0  17990.15
10517  H6NJ12136  2008.0  40000.00
10518  H4LA03051  2006.0    543.60
10519  H0AL07086  2012.0  48925.15
10520  H6NY11117  2006.0   1804.66
10521  H4TX27055  2014.0   4525.22
10522  H6WY01025  2006.0   7159.24
10523  H6FL01077  2006.0    254.70
10524  H4AZ01129  2004.0   2530.97
10525  H8NH02200  2008.0   9265.06
10526  S0WA00241  2010.0  21212.27
10527  H8KY02031  2010.0   1853.83
10528  H8VA06047  2008.0   4220.70
10529  H6VT00178  2006.0  51251.61
10530  H0NC11118  2012.0    965.37
10531  H0AR02107  2014.0   1458.34
10532  H2SC02042  2012.0   4884.69
10533  H6CO05159  2014.0   2583.34
10534  H8NH02192  2010.0   1015.06

[3526 rows x 3 columns]

In [58]:
agg_df.loc['H0NC11118',2010]

c2    4715.72
Name: (H0NC11118, 2010.0), dtype: float64

In [59]:
cs2.head()

                  c2
cand_id   cycle
H6FL19038 2006.0 NaN
H2NY17071 2004.0 NaN
H8TX27023 2008.0 NaN
H8OH18088 2012.0 NaN
H0SC01071 2008.0 NaN

In [31]:
cs2.set_index(['cand_id','cycle'], inplace=True)

In [62]:
cs2.head()

                  c2
cand_id   cycle
H6FL19038 2006.0 NaN
H2NY17071 2004.0 NaN
H8TX27023 2008.0 NaN
H8OH18088 2012.0 NaN
H0SC01071 2008.0 NaN

In [63]:
agg_df.loc['H2NY17071',2004.0]

c2    12621.75
Name: (H2NY17071, 2004.0), dtype: float64

In [39]:
#cs2.groupby(['cand_id','cycle'])['c2'].sum()

cand_id    cycle
H0AK01038  2010.0        88.93
H0AL00016  2010.0       909.80
H0AL01030  2010.0      5233.32
           2012.0        27.72
H0AL03184  2010.0      1441.91
H0AL05155  2010.0     15549.94
H0AL05163  2010.0      2343.79
           2012.0      8154.95
           2014.0      8540.32
H0AL07086  2010.0     38988.03
           2012.0     48925.15
           2014.0     57266.94
H0AL07177  2010.0       696.00
           2012.0      3297.32
H0AR01083  2010.0     15767.65
           2012.0      3323.74
H0AR01109  2010.0      5872.99
H0AR01125  2010.0      1155.00
H0AR01133  2010.0      4421.00
H0AR01166  2010.0      8284.78
H0AR02107  2014.0      1458.34
H0AR02115  2010.0       491.36
H0AR02149  2010.0       457.80
H0AR02164  2010.0       236.80
H0AR03022  2010.0      1535.09
           2014.0       393.06
H0AR03030  2010.0       784.00
H0AR03055  2010.0      1789.07
H0AR03071  2010.0       590.02
H0AR04061  2010.0        97.06
                       ...
S6WA00248  2006.0       350.46
S8FL00166  2010.0       866.98
           2012.0    123726.32
           2014.0      1000.00
S8ID00092  2012.0       666.47
S8MD00088  2012.0       485.20
S8MI00281  2012.0      2566.30
S8MS00055  2014.0     14112.52
S8MS00162  2010.0      7431.14
           2012.0     10249.61
           2014.0      2939.91
S8MT00119  2004.0      5471.47
S8NE00091  2010.0      1947.78
           2012.0     15193.81
S8NE00109  2010.0      3340.21
           2012.0      7233.83
S8NE00117  2008.0     40710.32
           2010.0        40.01
           2012.0      1272.62
S8NY00082  2010.0     61498.10
           2012.0      9182.89
           2014.0      3818.70
S8OH00011  2004.0     42328.73
           2010.0      6059.25
S8OK00241  2010.0       311.49
           2014.0       764.68
S8OR00207  2010.0       448.59
           2012.0      2266.90
           2014.0      3488.40
S8WI00158  2012.0       475.00
Name: c2, dtype: float64

In [64]:
cs3 = catsort

In [65]:
cs3 = cs3.drop(['c1', 'c2', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [42]:
#cs3 = cs3[pd.notnull(cs3['c3'])]

In [66]:
cs3.head()

     cand_id   cycle  c3
0  H6FL19038  2006.0 NaN
1  H2NY17071  2004.0 NaN
2  H8TX27023  2008.0 NaN
3  H8OH18088  2012.0 NaN
4  H0SC01071  2008.0 NaN

In [67]:
cs3.set_index(['cand_id','cycle'], inplace=True)

In [45]:
#cs3.groupby(['cand_id','cycle'])['c3'].sum()

cand_id    cycle
H0AL00016  2010.0        81.19
H0AL01030  2010.0       668.95
           2012.0       381.09
H0AL02087  2012.0     16964.09
           2014.0     16866.78
H0AL02111  2010.0       484.62
H0AL05155  2010.0    266006.98
           2012.0      4745.35
H0AL05163  2010.0     71452.12
           2012.0    121673.90
           2014.0     91996.02
H0AL07086  2010.0     52236.78
           2012.0     65657.68
           2014.0    116612.17
H0AL07144  2010.0      4172.52
H0AL07177  2012.0       699.45
H0AR01083  2010.0     98196.10
           2012.0    110836.30
           2014.0     16866.78
H0AR01109  2010.0     17720.93
           2012.0       660.00
H0AR01125  2010.0     11773.98
H0AR01133  2010.0      7982.82
H0AR01166  2010.0      2876.34
H0AR01174  2010.0       750.00
H0AR02107  2010.0      2129.98
           2012.0      4669.62
H0AR02115  2010.0     10812.44
H0AR02156  2010.0      2229.23
H0AR02164  2010.0       176.00
                       ...
S8MS00196  2008.0     72586.26
           2012.0     33061.25
S8MT00010  2008.0      1642.35
S8MT00119  2004.0     13585.61
           2006.0     44036.98
S8NE00091  2010.0       984.48
           2012.0    411607.90
S8NE00109  2010.0      2602.97
           2012.0     10201.63
S8NE00117  2008.0    115939.40
           2010.0      5066.96
           2012.0     26271.17
           2014.0      3411.50
S8NJ00285  2014.0      2925.07
S8NM00168  2012.0      4445.53
S8NY00082  2010.0     93267.91
           2012.0     33230.35
           2014.0     88649.11
S8OH00011  2004.0    199645.40
           2010.0      4539.89
           2012.0       110.94
S8OK00241  2010.0        16.36
           2014.0        70.37
S8OR00207  2008.0     27695.26
           2010.0    133959.07
           2012.0    446146.89
           2014.0    513693.22
S8VA00214  2004.0      5112.83
           2006.0      6585.79
           2012.0     53277.88
Name: c3, dtype: float64

In [68]:
cs3.head()

                  c3
cand_id   cycle
H6FL19038 2006.0 NaN
H2NY17071 2004.0 NaN
H8TX27023 2008.0 NaN
H8OH18088 2012.0 NaN
H0SC01071 2008.0 NaN

In [47]:
#cs3 = cs3.drop_duplicates()

In [69]:
agg_df = cs3.sum(level=['cand_id','cycle'])
print(agg_df)

                         c3
cand_id   cycle
H0AK00089 2010.0        NaN
          2012.0        NaN
H0AK01038 2010.0        NaN
H0AL00016 2010.0      81.19
H0AL01030 2010.0     668.95
          2012.0     381.09
H0AL02087 2010.0        NaN
          2012.0   16964.09
          2014.0   16866.78
H0AL02103 2010.0        NaN
H0AL02111 2010.0     484.62
H0AL03184 2010.0        NaN
H0AL05049 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
H0AL05155 2010.0  266006.98
          2012.0    4745.35
H0AL05163 2010.0   71452.12
          2012.0  121673.90
          2014.0   91996.02
H0AL05171 2010.0        NaN
H0AL05189 2010.0        NaN
H0AL05197 2010.0        NaN
          2012.0        NaN
H0AL07060 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
...                     ...
S8TN00246 2008.0        NaN
S8TX00202 2008.0        NaN
          2010.0        NaN
S8TX00228 2008.0        NaN
S8VA00214 2004.0    5112.83
          2006.0    6585.79
          2008.0        NaN
          2012.0   53277.88
          2014.0        NaN
S8VA00255 2008.0        NaN
          2010.0        NaN
S8VA00263 2008.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WA00194 2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WI00026 2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WI00158 2012.0        NaN
          2014.0        NaN
S8WV00093 2008.0        NaN
S8WV00101 2010.0        NaN
S8WY00163 2008.0        NaN
S8WY00171 2008.0        NaN

[10765 rows x 1 columns]

In [70]:
#test
agg_df.loc['S8VA00214',2006]

c3    6585.79
Name: (S8VA00214, 2006.0), dtype: float64

In [71]:
cs4 = catsort

In [72]:
cs4 = cs4.drop(['c1', 'c2', 'c3', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [51]:
#cs4 = cs4[pd.notnull(cs4['c4'])]

In [52]:
#cs4.groupby(['cand_id','cycle'])['c4'].sum()

cand_id    cycle
H0AL00016  2010.0        465.00
H0AL01030  2010.0      27082.28
           2012.0       7257.71
H0AL02111  2010.0       8403.45
H0AL03184  2010.0       5000.00
H0AL05155  2010.0      20809.92
H0AL05163  2010.0     547321.04
           2012.0     165131.27
           2014.0      81481.66
H0AL05171  2010.0      40231.96
H0AL05197  2010.0        595.35
H0AL07086  2010.0     690997.05
           2012.0      23994.00
           2014.0     303683.52
H0AL07144  2010.0       1573.37
H0AL07177  2010.0       2597.30
           2012.0       3363.40
H0AR01083  2010.0     746433.89
H0AR01109  2010.0     303707.61
H0AR01125  2010.0       9859.70
H0AR01133  2010.0      24139.31
H0AR01166  2010.0      31689.75
H0AR01174  2010.0       9984.07
H0AR02115  2010.0      77530.26
H0AR02156  2010.0       3467.36
H0AR02164  2010.0       5371.70
H0AR03022  2010.0      23512.73
           2012.0        554.81
           2014.0       5498.12
H0AR03030  2010.0       4742.09
                        ...
S6OR00110  2012.0       3100.00
           2014.0       1850.00
S6RI00163  2010.0       1625.00
           2012.0       5525.00
           2014.0    1177989.90
S6RI00221  2010.0        550.00
           2012.0    1277796.02
           2014.0       6005.32
S6TN00240  2004.0      75575.60
S6UT00139  2012.0       4167.59
S6UT00188  2010.0       8192.95
           2012.0        725.00
S6WV00063  2014.0       9804.75
S8FL00166  2012.0    9277348.37
S8ID00092  2012.0        783.44
           2014.0      22879.24
S8MS00055  2014.0     217541.57
S8NE00091  2010.0       5886.15
           2012.0     605874.10
S8NE00109  2012.0      38677.80
S8NE00117  2010.0        861.00
           2012.0       2769.00
           2014.0        276.00
S8NJ00285  2014.0      17208.98
S8NY00082  2010.0    9983008.02
S8OK00241  2010.0        112.00
           2014.0        145.20
S8OR00207  2010.0      11206.80
           2012.0      46672.16
           2014.0      46561.09
Name: c4, dtype: float64

In [53]:
#cs4 = cs4.drop_duplicates()

In [73]:
cs4.set_index(['cand_id','cycle'], inplace=True)

In [74]:
agg_df = cs4.sum(level=['cand_id','cycle'])
print(agg_df)

                         c4
cand_id   cycle
H0AK00089 2010.0        NaN
          2012.0        NaN
H0AK01038 2010.0        NaN
H0AL00016 2010.0     465.00
H0AL01030 2010.0   27082.28
          2012.0    7257.71
H0AL02087 2010.0        NaN
          2012.0        NaN
          2014.0        NaN
H0AL02103 2010.0        NaN
H0AL02111 2010.0    8403.45
H0AL03184 2010.0    5000.00
H0AL05049 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
H0AL05155 2010.0   20809.92
          2012.0        NaN
H0AL05163 2010.0  547321.04
          2012.0  165131.27
          2014.0   81481.66
H0AL05171 2010.0   40231.96
H0AL05189 2010.0        NaN
H0AL05197 2010.0     595.35
          2012.0        NaN
H0AL07060 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
...                     ...
S8TN00246 2008.0        NaN
S8TX00202 2008.0        NaN
          2010.0        NaN
S8TX00228 2008.0        NaN
S8VA00214 2004.0        NaN
          2006.0        NaN
          2008.0        NaN
          2012.0        NaN
          2014.0        NaN
S8VA00255 2008.0        NaN
          2010.0        NaN
S8VA00263 2008.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WA00194 2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WI00026 2006.0        NaN
          2008.0        NaN
          2010.0        NaN
          2012.0        NaN
          2014.0        NaN
S8WI00158 2012.0        NaN
          2014.0        NaN
S8WV00093 2008.0        NaN
S8WV00101 2010.0        NaN
S8WY00163 2008.0        NaN
S8WY00171 2008.0        NaN

[10765 rows x 1 columns]

In [75]:
cs5 = catsort

In [76]:
cs5 = cs5.drop(['c1', 'c2', 'c3', 'c4', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [77]:
#cs5 = cs5[pd.notnull(cs5['c5'])]

In [58]:
#cs5.groupby(['cand_id','cycle'])['c5'].sum()

cand_id    cycle
H0AL01030  2010.0      1175.00
H0AL05163  2010.0     27000.00
           2012.0     17000.00
           2014.0     15000.00
H0AL07086  2010.0     55500.00
           2014.0     30000.00
H0AR01083  2010.0     48722.17
H0AR01109  2010.0     26000.00
H0AR02115  2010.0      5311.00
H0AR03030  2010.0       395.79
H0AR03055  2010.0      3897.00
H0AZ01184  2004.0     28155.60
           2010.0     12714.75
           2012.0    177073.00
H0AZ01259  2010.0     25664.00
           2012.0     17125.00
H0AZ03313  2010.0      2060.00
H0AZ03321  2010.0     13500.00
           2012.0     35300.00
H0AZ03396  2010.0     10200.00
H0AZ04493  2010.0      8000.00
H0AZ05078  2010.0     16050.00
H0AZ05102  2010.0      6000.00
H0AZ08015  2010.0      6650.00
           2012.0     21300.00
H0CA01148  2010.0       300.00
H0CA02138  2010.0     16750.00
           2012.0      2960.00
H0CA03078  2010.0     56372.50
           2012.0    115665.00
                       ...
S2MA00170  2012.0    196400.00
S2MD00198  2012.0    134051.55
S2MD00370  2012.0      9569.00
S2ME00109  2012.0    102748.00
S2ME00125  2012.0      3000.00
S2ME00133  2012.0      7150.00
S2ME00158  2014.0     32235.00
S2MI00219  2012.0       722.58
S2NE00094  2012.0    227242.50
S2NM00088  2010.0     41200.00
S2NY00259  2012.0      5000.00
S2NY00275  2012.0      1092.74
S2NY00283  2012.0     98108.00
S2PA00265  2012.0      4838.97
S2VA00142  2012.0    777330.09
S2WA00288  2012.0       700.00
S4AZ00055  2010.0     10000.00
S4OK00174  2010.0     10600.00
S4SC00083  2010.0     74000.00
S6HI00180  2012.0     15000.00
S6NE00079  2006.0       300.00
S6OR00110  2010.0    145770.00
           2012.0     11000.00
S6RI00163  2012.0     36195.55
           2014.0     75900.00
S6RI00221  2012.0    189900.00
S8FL00166  2012.0    592300.53
           2014.0     96925.00
S8NY00082  2010.0    103800.00
S8OR00207  2014.0     47000.00
Name: c5, dtype: float64

In [59]:
#cs5 = cs5.drop_duplicates()

In [78]:
cs5.set_index(['cand_id','cycle'], inplace=True)

In [79]:
agg_df = cs5.sum(level=['cand_id','cycle'])
print(agg_df)

                         c5
cand_id   cycle
H0AL01030 2010.0    1175.00
H0AL05163 2010.0   27000.00
          2012.0   17000.00
          2014.0   15000.00
H0AL07086 2010.0   55500.00
          2014.0   30000.00
H0AR01083 2010.0   48722.17
H0AR01109 2010.0   26000.00
H0AR02115 2010.0    5311.00
H0AR03030 2010.0     395.79
H0AR03055 2010.0    3897.00
H0AZ01184 2004.0   28155.60
          2010.0   12714.75
          2012.0  177073.00
H0AZ01259 2010.0   25664.00
          2012.0   17125.00
H0AZ03313 2010.0    2060.00
H0AZ03321 2010.0   13500.00
          2012.0   35300.00
H0AZ03396 2010.0   10200.00
H0AZ04493 2010.0    8000.00
H0AZ05078 2010.0   16050.00
H0AZ05102 2010.0    6000.00
H0AZ08015 2010.0    6650.00
          2012.0   21300.00
H0CA01148 2010.0     300.00
H0CA02138 2010.0   16750.00
          2012.0    2960.00
H0CA03078 2010.0   56372.50
          2012.0  115665.00
...                     ...
S2MA00170 2012.0  196400.00
S2MD00198 2012.0  134051.55
S2MD00370 2012.0    9569.00
S2ME00109 2012.0  102748.00
S2ME00125 2012.0    3000.00
S2ME00133 2012.0    7150.00
S2ME00158 2014.0   32235.00
S2MI00219 2012.0     722.58
S2NE00094 2012.0  227242.50
S2NM00088 2010.0   41200.00
S2NY00259 2012.0    5000.00
S2NY00275 2012.0    1092.74
S2NY00283 2012.0   98108.00
S2PA00265 2012.0    4838.97
S2VA00142 2012.0  777330.09
S2WA00288 2012.0     700.00
S4AZ00055 2010.0   10000.00
S4OK00174 2010.0   10600.00
S4SC00083 2010.0   74000.00
S6HI00180 2012.0   15000.00
S6NE00079 2006.0     300.00
S6OR00110 2010.0  145770.00
          2012.0   11000.00
S6RI00163 2012.0   36195.55
          2014.0   75900.00
S6RI00221 2012.0  189900.00
S8FL00166 2012.0  592300.53
          2014.0   96925.00
S8NY00082 2010.0  103800.00
S8OR00207 2014.0   47000.00

[1782 rows x 1 columns]

In [84]:
#test
agg_df.loc['H0CA02138',2010]

c5    16750.0
Name: (H0CA02138, 2010.0), dtype: float64

In [85]:
cs5.head()

                        c5
cand_id   cycle
H4CA45071 2004.0   4000.00
H0OR05054 2010.0  19800.00
H6OH13133 2012.0  60466.64
H0IL09064 2010.0  26652.50
H2AZ07070 2008.0    548.60

In [86]:
cs6 = catsort

In [87]:
cs6 = cs6.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [88]:
cs6 = cs6[pd.notnull(cs6['c6'])]

In [64]:
#cs6.groupby(['cand_id','cycle'])['c6'].sum()

cand_id    cycle
H0AK00089  2010.0      785.00
H0AL00016  2010.0     3177.55
H0AL01030  2010.0     1295.21
H0AL02111  2010.0     7489.74
H0AL03184  2010.0     2293.50
H0AL05163  2010.0    66857.04
           2012.0    16138.18
           2014.0    11833.66
H0AL05171  2010.0     5993.05
H0AL07086  2010.0    50828.50
           2012.0    40971.17
           2014.0    58571.83
H0AR01083  2010.0    15002.37
H0AR01109  2010.0     6671.16
H0AR01125  2010.0      266.99
H0AR01133  2010.0     2046.19
H0AR02115  2010.0     4708.50
H0AR02156  2010.0      972.88
H0AR02164  2010.0      389.64
H0AR03022  2010.0    13068.25
H0AR03030  2010.0     3535.65
H0AR03048  2010.0    64845.99
H0AR03055  2010.0    17865.24
H0AR03063  2010.0    10739.92
H0AR03071  2010.0      240.23
H0AR03089  2010.0    16210.68
H0AR03097  2010.0      425.00
H0AR04061  2010.0     3793.00
H0AR04079  2010.0     6672.68
H0AS00018  2004.0      310.00
                       ...
S4HI00102  2010.0    20132.41
           2014.0    29730.15
S4OK00083  2012.0     7474.45
           2014.0     1800.00
S4OK00174  2010.0     3483.81
S4SC00083  2010.0     2603.04
S4VT00033  2014.0      280.84
S6HI00180  2012.0    13860.54
S6MN00101  2012.0     5312.14
S6MO00297  2010.0      843.41
S6MO00305  2012.0    16013.62
S6NE00079  2006.0    31276.68
           2012.0    14588.92
S6NJ00289  2004.0    22075.00
S6OR00110  2010.0     7961.13
           2012.0      535.00
S6RI00221  2012.0     1722.68
           2014.0     1336.99
S6UT00188  2010.0      775.46
S6WV00063  2014.0     1564.05
S8FL00166  2012.0     2444.18
S8ID00092  2014.0     3133.66
S8MD00088  2012.0     1863.10
S8NE00109  2010.0     6249.86
           2012.0    12273.29
S8NJ00285  2014.0    32049.05
S8NY00082  2010.0      500.00
S8OH00011  2010.0    12636.06
S8OR00207  2010.0     8129.25
           2012.0    12560.09
Name: c6, dtype: float64

In [65]:
#cs6 = cs6.drop_duplicates()

In [89]:
cs6.set_index(['cand_id','cycle'], inplace=True)

In [90]:
agg_df = cs6.sum(level=['cand_id','cycle'])
print(agg_df)

                        c6
cand_id   cycle
H0AK00089 2010.0    785.00
H0AL00016 2010.0   3177.55
H0AL01030 2010.0   1295.21
H0AL02111 2010.0   7489.74
H0AL03184 2010.0   2293.50
H0AL05163 2010.0  66857.04
          2012.0  16138.18
          2014.0  11833.66
H0AL05171 2010.0   5993.05
H0AL07086 2010.0  50828.50
          2012.0  40971.17
          2014.0  58571.83
H0AR01083 2010.0  15002.37
H0AR01109 2010.0   6671.16
H0AR01125 2010.0    266.99
H0AR01133 2010.0   2046.19
H0AR02115 2010.0   4708.50
H0AR02156 2010.0    972.88
H0AR02164 2010.0    389.64
H0AR03022 2010.0  13068.25
H0AR03030 2010.0   3535.65
H0AR03048 2010.0  64845.99
H0AR03055 2010.0  17865.24
H0AR03063 2010.0  10739.92
H0AR03071 2010.0    240.23
H0AR03089 2010.0  16210.68
H0AR03097 2010.0    425.00
H0AR04061 2010.0   3793.00
H0AR04079 2010.0   6672.68
H0AS00018 2004.0    310.00
...                    ...
S4HI00102 2010.0  20132.41
          2014.0  29730.15
S4OK00083 2012.0   7474.45
          2014.0   1800.00
S4OK00174 2010.0   3483.81
S4SC00083 2010.0   2603.04
S4VT00033 2014.0    280.84
S6HI00180 2012.0  13860.54
S6MN00101 2012.0   5312.14
S6MO00297 2010.0    843.41
S6MO00305 2012.0  16013.62
S6NE00079 2006.0  31276.68
          2012.0  14588.92
S6NJ00289 2004.0  22075.00
S6OR00110 2010.0   7961.13
          2012.0    535.00
S6RI00221 2012.0   1722.68
          2014.0   1336.99
S6UT00188 2010.0    775.46
S6WV00063 2014.0   1564.05
S8FL00166 2012.0   2444.18
S8ID00092 2014.0   3133.66
S8MD00088 2012.0   1863.10
S8NE00109 2010.0   6249.86
          2012.0  12273.29
S8NJ00285 2014.0  32049.05
S8NY00082 2010.0    500.00
S8OH00011 2010.0  12636.06
S8OR00207 2010.0   8129.25
          2012.0  12560.09

[3483 rows x 1 columns]

In [93]:
agg_df.loc['H0AR03055',2010.0]

c6    17865.24
Name: (H0AR03055, 2010.0), dtype: float64

In [94]:
cs7 = catsort

In [95]:
cs7 = cs7.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [69]:
#cs7 = cs7[pd.notnull(cs7['c7'])]

In [877]:
#cs7.groupby(['cand_id','cycle'])['c7'].sum()

cand_id    cycle
H0AL00016  2010.0      2192.99
H0AL01030  2010.0       583.75
           2012.0        56.58
H0AL05155  2010.0     47101.73
H0AL05163  2010.0      9362.66
           2012.0      9083.92
           2014.0      2350.00
H0AL05189  2010.0       205.00
H0AL07086  2010.0     31230.29
           2012.0    140490.99
           2014.0    166933.55
H0AL07144  2010.0       224.25
H0AR01083  2010.0     10492.80
           2012.0      1408.84
H0AR01109  2010.0       829.76
H0AR01125  2010.0     10847.95
H0AR01133  2010.0       250.00
H0AR01166  2010.0       250.00
H0AR01174  2010.0       813.24
H0AR02107  2014.0       200.00
H0AR02115  2010.0      4615.27
H0AR03022  2010.0      1735.79
           2012.0      4250.79
H0AR03030  2010.0       217.35
H0AR03055  2010.0      5649.74
H0AR03063  2010.0      1511.10
H0AR03089  2010.0       350.00
H0AR03097  2010.0       555.00
H0AR04061  2010.0       312.74
H0AR04079  2010.0     16982.03
                       ...
S4VT00033  2014.0      3398.76
S6HI00180  2012.0     30246.04
S6MA00015  2006.0     73807.25
S6MO00297  2010.0      1066.77
S6NE00079  2006.0      1635.27
           2012.0     33860.73
S6OR00110  2010.0     11409.60
S6RI00163  2014.0      9272.70
S6RI00221  2010.0     28355.61
           2012.0    118087.00
           2014.0       821.44
S8FL00166  2012.0       140.00
S8ID00092  2012.0      6920.98
           2014.0      6342.50
S8MS00055  2014.0       376.97
S8MS00196  2008.0    108195.29
S8NE00109  2010.0        19.85
           2012.0       344.05
S8NE00117  2010.0     18574.50
           2012.0      9582.91
           2014.0      4627.37
S8NM00168  2012.0      1516.16
S8NY00082  2010.0     59997.94
           2012.0      2471.46
S8OK00241  2010.0        32.72
S8OR00207  2008.0      3482.40
           2010.0     18757.68
           2012.0       500.00
S8VA00214  2012.0      1516.16
S8WV00101  2010.0        86.42
Name: c7, dtype: float64

In [70]:
#cs7 = cs7.drop_duplicates()

In [96]:
cs7.set_index(['cand_id','cycle'], inplace=True)

In [97]:
agg_df = cs7.sum(level=['cand_id','cycle'])
print(agg_df)

                        c7
cand_id   cycle
H0AK00089 2010.0       NaN
          2012.0       NaN
H0AK01038 2010.0       NaN
H0AL00016 2010.0   2192.99
H0AL01030 2010.0    583.75
          2012.0     56.58
H0AL02087 2010.0       NaN
          2012.0       NaN
          2014.0       NaN
H0AL02103 2010.0       NaN
H0AL02111 2010.0       NaN
H0AL03184 2010.0       NaN
H0AL05049 2004.0       NaN
          2006.0       NaN
          2008.0       NaN
          2010.0       NaN
          2012.0       NaN
          2014.0       NaN
H0AL05155 2010.0  47101.73
          2012.0       NaN
H0AL05163 2010.0   9362.66
          2012.0   9083.92
          2014.0   2350.00
H0AL05171 2010.0       NaN
H0AL05189 2010.0    205.00
H0AL05197 2010.0       NaN
          2012.0       NaN
H0AL07060 2004.0       NaN
          2006.0       NaN
          2008.0       NaN
...                    ...
S8TN00246 2008.0       NaN
S8TX00202 2008.0       NaN
          2010.0       NaN
S8TX00228 2008.0       NaN
S8VA00214 2004.0       NaN
          2006.0       NaN
          2008.0       NaN
          2012.0   1516.16
          2014.0       NaN
S8VA00255 2008.0       NaN
          2010.0       NaN
S8VA00263 2008.0       NaN
          2012.0       NaN
          2014.0       NaN
S8WA00194 2006.0       NaN
          2008.0       NaN
          2010.0       NaN
          2012.0       NaN
          2014.0       NaN
S8WI00026 2006.0       NaN
          2008.0       NaN
          2010.0       NaN
          2012.0       NaN
          2014.0       NaN
S8WI00158 2012.0       NaN
          2014.0       NaN
S8WV00093 2008.0       NaN
S8WV00101 2010.0     86.42
S8WY00163 2008.0       NaN
S8WY00171 2008.0       NaN

[10765 rows x 1 columns]

In [98]:
#test
agg_df.loc['H0AL02087',2010]

c7   NaN
Name: (H0AL02087, 2010.0), dtype: float64

In [99]:
cs8 = catsort

In [100]:
cs8 = cs8.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [74]:
#cs8 = cs8[pd.notnull(cs8['c8'])]

In [75]:
#cs8.groupby(['cand_id','cycle'])['c8'].sum()

cand_id    cycle
H0AL05163  2010.0       249.00
H0AZ01259  2012.0     50000.00
H0CA15148  2004.0       904.66
H0FL04066  2006.0    500000.00
H0HI01157  2010.0     15000.00
H0ID01139  2006.0     10000.00
H0IL05328  2010.0       211.16
H0IL08090  2010.0         6.65
           2012.0      5000.00
H0IL15053  2012.0        70.37
H0IL17059  2010.0        20.00
H0MI10071  2008.0      3432.00
H0MN04148  2010.0      7753.68
H0NH01225  2010.0      1695.91
H0NH02181  2010.0     11375.00
H0NY13074  2012.0       817.89
H0OH12062  2004.0     68676.30
           2006.0      5884.00
H0OH18077  2010.0       366.00
           2012.0        35.00
H0SC03069  2010.0      3480.00
H0TN08253  2010.0      7765.71
H0VA05095  2010.0     10000.00
H0WI07051  2010.0        20.00
H2CA37023  2006.0       215.00
H2FL09012  2006.0     35000.00
H2FL17056  2008.0       300.00
H2GA02031  2014.0       207.53
H2HI02128  2006.0    102327.50
H2IL06058  2012.0      1790.00
                       ...
H4TX19136  2004.0     22790.56
           2006.0    110000.00
H4VA10121  2014.0     10000.00
H6CA04107  2008.0       350.00
H6CA39020  2008.0        95.00
           2012.0        50.00
H6CO03139  2012.0        24.95
H6CO07023  2014.0    180000.00
H6FL09138  2006.0        25.00
H6FL19038  2006.0       233.10
H6FL22040  2006.0       214.00
H6TN01362  2006.0     19808.16
H6VA01117  2010.0         5.08
H6WA07383  2006.0        49.61
H8CA03014  2004.0     48824.75
H8CA41063  2004.0     50000.00
H8FL22038  2010.0      2671.26
H8MA02041  2014.0       537.00
H8NJ03156  2008.0    101000.00
H8OH11067  2006.0      5000.00
H8TN08033  2008.0       164.89
H8TX28013  2006.0       305.59
S0AK00139  2010.0      4244.00
S0FL00312  2010.0       427.99
S0NM00041  2008.0        15.67
S2AK00010  2012.0     40839.71
S2PA00265  2012.0       500.00
S4VT00033  2012.0     20000.00
S6OR00094  2008.0    120294.68
S8OR00207  2012.0     15153.66
Name: c8, dtype: float64

In [76]:
#cs8 = cs8.drop_duplicates()

In [102]:
cs8.set_index(['cand_id','cycle'], inplace=True)

In [103]:
agg_df = cs8.sum(level=['cand_id','cycle'])
print(agg_df)

                     c8
cand_id   cycle
H0AK00089 2010.0    NaN
          2012.0    NaN
H0AK01038 2010.0    NaN
H0AL00016 2010.0    NaN
H0AL01030 2010.0    NaN
          2012.0    NaN
H0AL02087 2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL02103 2010.0    NaN
H0AL02111 2010.0    NaN
H0AL03184 2010.0    NaN
H0AL05049 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL05155 2010.0    NaN
          2012.0    NaN
H0AL05163 2010.0  249.0
          2012.0    NaN
          2014.0    NaN
H0AL05171 2010.0    NaN
H0AL05189 2010.0    NaN
H0AL05197 2010.0    NaN
          2012.0    NaN
H0AL07060 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
...                 ...
S8TN00246 2008.0    NaN
S8TX00202 2008.0    NaN
          2010.0    NaN
S8TX00228 2008.0    NaN
S8VA00214 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
          2012.0    NaN
          2014.0    NaN
S8VA00255 2008.0    NaN
          2010.0    NaN
S8VA00263 2008.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WA00194 2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WI00026 2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WI00158 2012.0    NaN
          2014.0    NaN
S8WV00093 2008.0    NaN
S8WV00101 2010.0    NaN
S8WY00163 2008.0    NaN
S8WY00171 2008.0    NaN

[10765 rows x 1 columns]

In [113]:
#test
agg_df.loc['S8WV00093',2008]

c8   NaN
Name: (S8WV00093, 2008.0), dtype: float64

In [114]:
cs9 = catsort

In [115]:
cs9 = cs9.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [80]:
#cs9 = cs9[pd.notnull(cs9['c9'])]

In [81]:
#cs9.groupby(['cand_id','cycle'])['c9'].sum()

cand_id    cycle
H0AL07177  2012.0     1020.00
H0AR01109  2012.0     4000.00
H0AR04061  2010.0     3027.27
H0AZ04493  2012.0     1615.52
H0CA02138  2012.0     1200.00
H0CA11303  2010.0        0.00
           2012.0        0.00
H0CA15148  2004.0     1071.00
H0CA18050  2010.0        0.00
H0CA24116  2010.0     5626.03
H0CA45012  2006.0        9.99
H0CO07067  2012.0     1000.00
H0FL00023  2010.0      612.00
H0FL02151  2010.0     1117.90
H0FL07077  2012.0       49.54
H0FL11152  2010.0      690.00
H0FL14065  2014.0     1761.00
H0FL24130  2010.0     1316.20
H0GA13040  2010.0     1512.49
H0HI01058  2006.0    15044.00
H0IL07092  2010.0     2058.58
H0IL11078  2010.0     3220.00
H0IL15053  2004.0    36204.53
           2006.0    21672.96
           2008.0     1669.52
           2010.0        4.89
H0KS03103  2010.0     9000.00
H0KY03184  2010.0     1000.00
H0LA01087  2004.0    10000.00
H0LA02218  2010.0     3259.59
                       ...
H6TN09282  2006.0     2846.53
H6TX09033  2004.0     1965.64
H6VA01117  2006.0     6003.51
H6WA02145  2008.0    14000.00
H8AL02130  2008.0      327.50
           2010.0       34.29
H8CA34068  2006.0    20000.00
H8CA37137  2010.0     9542.19
H8IL14075  2010.0     7339.71
           2012.0    12014.03
           2014.0     8152.41
H8IL19090  2008.0      365.85
           2010.0     1012.57
H8ME01179  2008.0      280.40
H8MI02097  2010.0      500.00
H8MO02166  2008.0      200.00
H8MS01053  2008.0      227.00
H8NC04074  2008.0     3178.17
H8NY22102  2012.0     2100.00
H8NY24066  2008.0        1.75
H8NY27093  2008.0      700.00
H8PA18124  2008.0     3000.00
H8TX14112  2008.0     5000.00
H8TX22107  2010.0      956.67
H8TX24087  2008.0     3150.00
H8TX25084  2010.0      787.00
S0FL00411  2010.0    21521.00
S0GA00328  2010.0      385.63
S2AZ00166  2012.0       75.26
S4HI00102  2014.0      540.16
Name: c9, dtype: float64

In [82]:
#cs9 = cs9.drop_duplicates()

In [116]:
cs9.set_index(['cand_id','cycle'], inplace=True)

In [117]:
agg_df = cs9.sum(level=['cand_id','cycle'])
print(agg_df)

                  c9
cand_id   cycle
H0AK00089 2010.0 NaN
          2012.0 NaN
H0AK01038 2010.0 NaN
H0AL00016 2010.0 NaN
H0AL01030 2010.0 NaN
          2012.0 NaN
H0AL02087 2010.0 NaN
          2012.0 NaN
          2014.0 NaN
H0AL02103 2010.0 NaN
H0AL02111 2010.0 NaN
H0AL03184 2010.0 NaN
H0AL05049 2004.0 NaN
          2006.0 NaN
          2008.0 NaN
          2010.0 NaN
          2012.0 NaN
          2014.0 NaN
H0AL05155 2010.0 NaN
          2012.0 NaN
H0AL05163 2010.0 NaN
          2012.0 NaN
          2014.0 NaN
H0AL05171 2010.0 NaN
H0AL05189 2010.0 NaN
H0AL05197 2010.0 NaN
          2012.0 NaN
H0AL07060 2004.0 NaN
          2006.0 NaN
          2008.0 NaN
...               ..
S8TN00246 2008.0 NaN
S8TX00202 2008.0 NaN
          2010.0 NaN
S8TX00228 2008.0 NaN
S8VA00214 2004.0 NaN
          2006.0 NaN
          2008.0 NaN
          2012.0 NaN
          2014.0 NaN
S8VA00255 2008.0 NaN
          2010.0 NaN
S8VA00263 2008.0 NaN
          2012.0 NaN
          2014.0 NaN
S8WA00194 2006.0 NaN
          2008.0 NaN
          2010.0 NaN
          2012.0 NaN
          2014.0 NaN
S8WI00026 2006.0 NaN
          2008.0 NaN
          2010.0 NaN
          2012.0 NaN
          2014.0 NaN
S8WI00158 2012.0 NaN
          2014.0 NaN
S8WV00093 2008.0 NaN
S8WV00101 2010.0 NaN
S8WY00163 2008.0 NaN
S8WY00171 2008.0 NaN

[10765 rows x 1 columns]

In [118]:
#test
agg_df.loc['H0AL05163',2010]

c9   NaN
Name: (H0AL05163, 2010.0), dtype: float64

In [119]:
cs10 = catsort

In [120]:
cs10 = cs10.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c11', 'c12', 'c13','total'], axis = 1)

In [86]:
#cs10 = cs10[pd.notnull(cs10['c10'])]

In [87]:
#cs10.groupby(['cand_id','cycle'])['c10'].sum()

cand_id    cycle
H0AL05155  2010.0      610.00
H0AL07086  2010.0     8313.27
H0AR01083  2010.0     1250.00
H0AZ01275  2010.0      500.00
H0AZ03354  2010.0     2900.00
H0AZ08023  2010.0       63.78
H0FL05121  2010.0      100.00
H0FL12010  2006.0     4400.00
H0FL19080  2014.0     4048.75
H0GA08032  2004.0      294.12
H0HI01157  2010.0     2160.20
           2012.0     1050.00
H0ID01139  2006.0    64800.00
H0KY03184  2010.0      400.00
H0KY04109  2012.0     5000.00
H0LA01087  2008.0     5000.00
H0MA10082  2014.0      150.00
H0MD05118  2010.0       50.00
H0MD06173  2010.0      600.00
H0MD07072  2010.0      250.00
H0MN08115  2010.0      180.00
H0MO00019  2004.0      390.51
H0MS04120  2012.0     5000.00
           2014.0     2400.00
H0NC10151  2010.0     4800.00
H0NV01151  2010.0     1000.00
H0NY01129  2012.0    -5000.00
H0NY02085  2004.0     1050.00
H0NY20079  2010.0     2000.00
H0NY23057  2010.0      500.00
                       ...
H8NY13077  2008.0      100.00
           2010.0     2800.00
H8OH05036  2008.0     1000.00
H8OH10085  2008.0     5000.00
H8OH11067  2006.0     5000.00
H8OH14087  2008.0      200.00
H8PA05154  2008.0     1000.00
H8PA18124  2008.0     1000.00
H8PR00062  2012.0      500.00
H8TX28013  2004.0      500.00
           2006.0     2502.73
           2008.0      450.00
H8WI01024  2010.0     6528.00
S0FL00312  2010.0     3900.00
S0LA00154  2004.0      826.66
S0MA00109  2014.0     5000.00
S0MO00183  2008.0      104.00
S0MO00266  2010.0      102.01
S0NH00268  2010.0    32500.00
           2012.0     2200.00
S0NY00410  2006.0     2850.00
           2010.0     9300.00
S0WA00357  2010.0      380.00
S0WI00197  2014.0     1300.00
S2RI00071  2012.0       20.00
S4AR00046  2010.0    11250.00
S6MO00305  2012.0     -400.00
S6RI00163  2014.0     1000.00
S8FL00166  2012.0      500.00
S8NE00109  2012.0       29.00
Name: c10, dtype: float64

In [88]:
#cs10 = cs10.drop_duplicates()

In [121]:
cs10.set_index(['cand_id','cycle'], inplace=True)

In [122]:
agg_df = cs10.sum(level=['cand_id','cycle'])
print(agg_df)

                    c10
cand_id   cycle
H0AK00089 2010.0    NaN
          2012.0    NaN
H0AK01038 2010.0    NaN
H0AL00016 2010.0    NaN
H0AL01030 2010.0    NaN
          2012.0    NaN
H0AL02087 2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL02103 2010.0    NaN
H0AL02111 2010.0    NaN
H0AL03184 2010.0    NaN
H0AL05049 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL05155 2010.0  610.0
          2012.0    NaN
H0AL05163 2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL05171 2010.0    NaN
H0AL05189 2010.0    NaN
H0AL05197 2010.0    NaN
          2012.0    NaN
H0AL07060 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
...                 ...
S8TN00246 2008.0    NaN
S8TX00202 2008.0    NaN
          2010.0    NaN
S8TX00228 2008.0    NaN
S8VA00214 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
          2012.0    NaN
          2014.0    NaN
S8VA00255 2008.0    NaN
          2010.0    NaN
S8VA00263 2008.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WA00194 2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WI00026 2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WI00158 2012.0    NaN
          2014.0    NaN
S8WV00093 2008.0    NaN
S8WV00101 2010.0    NaN
S8WY00163 2008.0    NaN
S8WY00171 2008.0    NaN

[10765 rows x 1 columns]

In [123]:
#test
agg_df.loc['H0AL05155',2010]

c10    610.0
Name: (H0AL05155, 2010.0), dtype: float64

In [124]:
cs11 = catsort

In [125]:
cs11 = cs11.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c12', 'c13','total'], axis = 1)

In [92]:
#cs11 = cs11[pd.notnull(cs11['c11'])]

In [93]:
#cs11.groupby(['cand_id','cycle'])['c11'].sum()

cand_id    cycle
H0AL05197  2010.0       500.00
H0AL07086  2012.0      1500.00
H0AR03022  2010.0      1500.00
           2012.0      3750.00
           2014.0      1000.00
H0AR03030  2010.0      8000.00
H0AR03055  2010.0      3200.00
H0AZ01184  2012.0    407000.00
H0AZ01259  2010.0       410.00
           2012.0     19000.00
H0AZ08023  2010.0      1325.00
H0CA08069  2010.0       750.00
H0CA23118  2012.0      1016.90
H0CA30113  2012.0       132.73
H0CA31111  2012.0        16.00
H0CA45012  2006.0      1000.00
H0CA49055  2008.0     53925.00
           2012.0       350.19
           2014.0       428.75
H0CA51036  2014.0       250.00
H0CT03072  2012.0     15000.00
H0CT04146  2010.0       250.00
H0CT05150  2010.0      2035.00
           2012.0      6200.00
H0FL03134  2010.0       537.40
H0FL04066  2004.0      1000.00
           2006.0    173550.00
           2008.0      1030.00
           2010.0      9100.00
           2012.0    105250.00
                       ...
S0TX00217  2010.0        65.00
           2012.0       140.00
S0WI00197  2012.0       500.00
S2AZ00141  2012.0    407000.00
S2MI00177  2012.0       230.00
S2MO00437  2012.0      2000.00
S2OH00196  2012.0        65.00
S2VA00142  2012.0     12500.00
S2WA00288  2014.0     67062.30
S4OK00083  2010.0     25000.00
S4PA00121  2004.0       265.97
           2006.0       368.74
S6HI00180  2012.0       250.00
S6NJ00289  2004.0       800.00
S6OR00110  2012.0        40.00
           2014.0     11000.00
S6RI00163  2012.0    126500.00
           2014.0    785000.00
S6WY00126  2010.0     32400.00
           2012.0      8000.00
S8MS00055  2012.0     10000.00
S8NE00091  2012.0       700.00
S8NE00117  2010.0      5000.00
           2012.0     10000.00
           2014.0     20000.00
S8NM00168  2012.0       500.00
           2014.0      6000.00
S8OH00011  2010.0    371054.00
           2012.0    102150.00
S8OR00207  2012.0       400.00
Name: c11, dtype: float64

In [94]:
#cs11 = cs11.drop_duplicates()

In [126]:
cs11.set_index(['cand_id','cycle'], inplace=True)

In [127]:
cs11.head()

                  c11
cand_id   cycle
H6FL19038 2006.0  NaN
H2NY17071 2004.0  NaN
H8TX27023 2008.0  NaN
H8OH18088 2012.0  NaN
H0SC01071 2008.0  NaN

In [128]:
agg_df = cs11.sum(level=['cand_id','cycle'])
print(agg_df)

                    c11
cand_id   cycle
H0AK00089 2010.0    NaN
          2012.0    NaN
H0AK01038 2010.0    NaN
H0AL00016 2010.0    NaN
H0AL01030 2010.0    NaN
          2012.0    NaN
H0AL02087 2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL02103 2010.0    NaN
H0AL02111 2010.0    NaN
H0AL03184 2010.0    NaN
H0AL05049 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL05155 2010.0    NaN
          2012.0    NaN
H0AL05163 2010.0    NaN
          2012.0    NaN
          2014.0    NaN
H0AL05171 2010.0    NaN
H0AL05189 2010.0    NaN
H0AL05197 2010.0  500.0
          2012.0    NaN
H0AL07060 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
...                 ...
S8TN00246 2008.0    NaN
S8TX00202 2008.0    NaN
          2010.0    NaN
S8TX00228 2008.0    NaN
S8VA00214 2004.0    NaN
          2006.0    NaN
          2008.0    NaN
          2012.0    NaN
          2014.0    NaN
S8VA00255 2008.0    NaN
          2010.0    NaN
S8VA00263 2008.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WA00194 2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WI00026 2006.0    NaN
          2008.0    NaN
          2010.0    NaN
          2012.0    NaN
          2014.0    NaN
S8WI00158 2012.0    NaN
          2014.0    NaN
S8WV00093 2008.0    NaN
S8WV00101 2010.0    NaN
S8WY00163 2008.0    NaN
S8WY00171 2008.0    NaN

[10765 rows x 1 columns]

In [129]:
#test
agg_df.loc['H0AL05197',2010]

c11    500.0
Name: (H0AL05197, 2010.0), dtype: float64

In [130]:
cs12 = catsort

In [131]:
cs12 = cs12.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c13','total'], axis = 1)

In [98]:
#cs12 = cs12[pd.notnull(cs12['c12'])]

In [99]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

cand_id    cycle
H0AL00016  2010.0       300.00
H0AL05049  2012.0       500.00
           2014.0      5000.00
H0AL07086  2010.0      5688.90
           2012.0      2015.00
           2014.0       800.00
H0AR01133  2010.0       532.00
H0AR02107  2014.0       411.32
H0AR04079  2010.0       250.00
H0CA08069  2012.0       750.00
H0CA14042  2006.0      2000.00
H0CA19173  2014.0      8450.00
H0CA27085  2004.0      1060.08
H0CA27101  2010.0       250.00
H0CA28091  2010.0      1177.00
H0CA33182  2010.0       100.00
H0CO06077  2010.0        18.18
H0DE01017  2014.0       470.05
H0FL05113  2010.0        36.00
H0FL06061  2010.0      1000.00
H0FL08117  2010.0       469.98
H0FL08125  2010.0      1000.00
H0FL12010  2004.0       250.00
           2006.0      2000.00
           2010.0      1744.62
H0FL12101  2014.0    117400.00
H0FL15054  2010.0        67.50
H0HI01058  2006.0       350.00
H0HI01157  2010.0      4991.84
           2014.0     12100.00
                       ...
H8WI01024  2010.0       410.00
S0AR00028  2010.0     11625.00
           2012.0      3630.00
S0FL00312  2010.0       500.00
S0NC00152  2010.0         0.00
S0NY00410  2008.0       100.00
S0NY00477  2010.0     24812.90
S0NY00576  2010.0       700.00
S0NY00600  2012.0      1220.00
S0SC00180  2010.0      1737.52
S0WA00258  2012.0       484.95
S2CA00286  2004.0       570.00
S2IN00091  2004.0       500.00
S2OH00196  2012.0        10.00
S2RI00071  2012.0      2631.75
S2VA00142  2012.0       475.00
S4IL00164  2010.0     10000.00
S6NJ00289  2004.0       329.00
S6OR00110  2010.0     16000.00
S6RI00163  2010.0      6325.00
           2012.0     36045.00
           2014.0      2250.00
S6TN00240  2004.0      1214.43
           2006.0      1500.00
S6UT00188  2012.0        48.51
S6WV00063  2014.0        54.21
S8MS00055  2012.0       300.00
           2014.0      2650.00
S8NM00184  2004.0       226.29
S8OR00207  2012.0       650.00
Name: c12, dtype: float64

In [100]:
#cs12 = cs12.drop_duplicates()

In [132]:
cs12.set_index(['cand_id','cycle'], inplace=True)

In [133]:
print(cs12)

                  c12
cand_id   cycle
H6FL19038 2006.0  NaN
H2NY17071 2004.0  NaN
H8TX27023 2008.0  NaN
H8OH18088 2012.0  NaN
H0SC01071 2008.0  NaN
S0CA00199 2010.0  NaN
S0MI00056 2014.0  NaN
H2GA12113 2012.0  NaN
H8NJ03156 2010.0  NaN
H6AZ08020 2006.0  NaN
H4WV03070 2014.0  NaN
H4WI04191 2006.0  NaN
H8VA10072 2008.0  NaN
H2MA01202 2012.0  NaN
H6WV03083 2006.0  NaN
H8WY00148 2012.0  NaN
H8WI01024 2014.0  NaN
H6TX09033 2004.0  NaN
H0IN07157 2012.0  NaN
H2MI11042 2014.0  NaN
H0FL12150 2010.0  NaN
H8AL05109 2012.0  NaN
H8VA11039 2010.0  NaN
H2MN08103 2012.0  NaN
H4TX19136 2012.0  NaN
S2CA00286 2006.0  NaN
H0WI07051 2012.0  NaN
H0NY02085 2010.0  NaN
H4TN06051 2008.0  NaN
H8CA37137 2012.0  NaN
...               ...
H6TX09033 2004.0  NaN
S8NM00184 2014.0  NaN
H6OH15104 2014.0  NaN
H2TX21094 2012.0  NaN
S8ID00027 2010.0  NaN
H4PA08074 2006.0  NaN
S0NY00410 2012.0  NaN
S0NH00219 2008.0  NaN
H4TX09095 2008.0  NaN
H4MD06175 NaN     NaN
H6HI02301 2006.0  NaN
S2MO00353 2006.0  NaN
H8OH01043 2008.0  NaN
H0NY27066 2010.0  NaN
H2AL05094 2014.0  NaN
H0KY03226 2010.0  NaN
H8NC11061 2012.0  NaN
H6CA27272 2006.0  NaN
H2ND00057 2008.0  NaN
S2GA00118 2008.0  NaN
S6MO00297 2010.0  NaN
H8AZ05071 2008.0  NaN
H2AZ07070 2014.0  NaN
H2GA05133 2012.0  NaN
H8FL00026 NaN     NaN
H8OH05044 2004.0  NaN
H0WA02098 2012.0  NaN
H0WV01072 2014.0  NaN
H4AZ05047 NaN     NaN
S0AR00069 2014.0  NaN

[43409 rows x 1 columns]

In [135]:
agg_df = cs12.sum(level=['cand_id','cycle'])
print(agg_df)

                     c12
cand_id   cycle
H0AK00089 2010.0     NaN
          2012.0     NaN
H0AK01038 2010.0     NaN
H0AL00016 2010.0   300.0
H0AL01030 2010.0     NaN
          2012.0     NaN
H0AL02087 2010.0     NaN
          2012.0     NaN
          2014.0     NaN
H0AL02103 2010.0     NaN
H0AL02111 2010.0     NaN
H0AL03184 2010.0     NaN
H0AL05049 2004.0     NaN
          2006.0     NaN
          2008.0     NaN
          2010.0     NaN
          2012.0   500.0
          2014.0  5000.0
H0AL05155 2010.0     NaN
          2012.0     NaN
H0AL05163 2010.0     NaN
          2012.0     NaN
          2014.0     NaN
H0AL05171 2010.0     NaN
H0AL05189 2010.0     NaN
H0AL05197 2010.0     NaN
          2012.0     NaN
H0AL07060 2004.0     NaN
          2006.0     NaN
          2008.0     NaN
...                  ...
S8TN00246 2008.0     NaN
S8TX00202 2008.0     NaN
          2010.0     NaN
S8TX00228 2008.0     NaN
S8VA00214 2004.0     NaN
          2006.0     NaN
          2008.0     NaN
          2012.0     NaN
          2014.0     NaN
S8VA00255 2008.0     NaN
          2010.0     NaN
S8VA00263 2008.0     NaN
          2012.0     NaN
          2014.0     NaN
S8WA00194 2006.0     NaN
          2008.0     NaN
          2010.0     NaN
          2012.0     NaN
          2014.0     NaN
S8WI00026 2006.0     NaN
          2008.0     NaN
          2010.0     NaN
          2012.0     NaN
          2014.0     NaN
S8WI00158 2012.0     NaN
          2014.0     NaN
S8WV00093 2008.0     NaN
S8WV00101 2010.0     NaN
S8WY00163 2008.0     NaN
S8WY00171 2008.0     NaN

[10765 rows x 1 columns]

In [137]:
#test
agg_df.loc['H0AL05049', 2012]

c12    500.0
Name: (H0AL05049, 2012.0), dtype: float64

In [144]:
cs13 = catsort

In [145]:
cs13 = cs13.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12','total'], axis = 1)

In [104]:
#cs13 = cs13[pd.notnull(cs13['c13'])]

In [105]:
#cs13.groupby(['cand_id','cycle'])['c13'].sum()

cand_id    cycle
H0AK00089  2010.0      218666.06
           2012.0        3766.93
H0AK01038  2010.0      168119.58
H0AL01030  2010.0        1284.15
H0AL02087  2010.0     1403415.39
           2012.0      666262.07
           2014.0      541474.45
H0AL02103  2010.0      127314.17
H0AL05049  2004.0      467848.90
           2006.0      332285.59
           2008.0      454202.00
           2010.0       10023.55
           2012.0         735.00
H0AL05155  2010.0      518734.69
           2012.0        9324.78
H0AL05163  2010.0        1626.96
           2012.0        2321.95
           2014.0         215.00
H0AL05171  2010.0       18926.36
H0AL05189  2010.0      370262.34
H0AL05197  2010.0      756375.70
           2012.0      161419.77
H0AL07060  2004.0     1004122.38
           2006.0      405922.39
           2008.0      579570.41
           2010.0     1204248.81
           2012.0        1363.96
H0AL07086  2010.0       21920.13
           2012.0        7789.08
           2014.0        5304.93
                        ...
S8TN00238  2010.0         124.00
S8TN00246  2008.0      155202.00
S8TX00202  2008.0     4061842.00
           2010.0         723.00
S8TX00228  2008.0       14396.00
S8VA00214  2004.0      214384.60
           2006.0    15703582.53
           2008.0      181683.63
           2012.0    14194518.10
           2014.0       36146.13
S8VA00255  2008.0     2389603.15
           2010.0       22641.24
S8VA00263  2008.0       88847.00
           2012.0       58640.35
           2014.0        1067.95
S8WA00194  2006.0    14223069.42
           2008.0      899642.00
           2010.0      931331.42
           2012.0     8296449.12
           2014.0      893864.58
S8WI00026  2006.0     1605292.48
           2008.0     2327769.00
           2010.0    14982047.15
           2012.0     3918602.37
           2014.0     2470340.41
S8WI00158  2012.0     3505271.39
           2014.0       50779.77
S8WV00093  2008.0      107027.00
S8WY00163  2008.0       15796.00
S8WY00171  2008.0        6372.00
Name: c13, dtype: float64

In [106]:
#cs13 = cs13.drop_duplicates()

In [146]:
cs13.set_index(['cand_id','cycle'], inplace=True)

In [147]:
print(cs13)

                          c13
cand_id   cycle
H6FL19038 2006.0          NaN
H2NY17071 2004.0          NaN
H8TX27023 2008.0          NaN
H8OH18088 2012.0          NaN
H0SC01071 2008.0          NaN
S0CA00199 2010.0          NaN
S0MI00056 2014.0          NaN
H2GA12113 2012.0          NaN
H8NJ03156 2010.0          NaN
H6AZ08020 2006.0          NaN
H4WV03070 2014.0          NaN
H4WI04191 2006.0          NaN
H8VA10072 2008.0          NaN
H2MA01202 2012.0          NaN
H6WV03083 2006.0          NaN
H8WY00148 2012.0          NaN
H8WI01024 2014.0          NaN
H6TX09033 2004.0          NaN
H0IN07157 2012.0          NaN
H2MI11042 2014.0          NaN
H0FL12150 2010.0          NaN
H8AL05109 2012.0          NaN
H8VA11039 2010.0          NaN
H2MN08103 2012.0          NaN
H4TX19136 2012.0          NaN
S2CA00286 2006.0          NaN
H0WI07051 2012.0          NaN
H0NY02085 2010.0          NaN
H4TN06051 2008.0          NaN
H8CA37137 2012.0          NaN
...                       ...
H6TX09033 2004.0     57439.70
S8NM00184 2014.0   6383746.55
H6OH15104 2014.0      6676.57
H2TX21094 2012.0       352.04
S8ID00027 2010.0   2467124.50
H4PA08074 2006.0    129986.21
S0NY00410 2012.0     11275.77
S0NH00219 2008.0     28244.00
H4TX09095 2008.0    115426.38
H4MD06175 NaN             NaN
H6HI02301 2006.0     12770.78
S2MO00353 2006.0  13423041.98
H8OH01043 2008.0     65997.80
H0NY27066 2010.0      1654.93
H2AL05094 2014.0       200.00
H0KY03226 2010.0      1869.00
H8NC11061 2012.0       799.18
H6CA27272 2006.0       294.54
H2ND00057 2008.0   1394860.21
S2GA00118 2008.0     15338.00
S6MO00297 2010.0      6621.53
H8AZ05071 2008.0     11165.99
H2AZ07070 2014.0       262.12
H2GA05133 2012.0     52289.38
H8FL00026 NaN             NaN
H8OH05044 2004.0    359169.99
H0WA02098 2012.0     14175.94
H0WV01072 2014.0   1837420.38
H4AZ05047 NaN             NaN
S0AR00069 2014.0       810.00

[43409 rows x 1 columns]

In [148]:
agg_df = cs13.sum(level=['cand_id','cycle'])
print(agg_df)

                          c13
cand_id   cycle
H0AK00089 2010.0    218666.06
          2012.0      3766.93
H0AK01038 2010.0    168119.58
H0AL00016 2010.0          NaN
H0AL01030 2010.0      1284.15
          2012.0          NaN
H0AL02087 2010.0   1403415.39
          2012.0    666262.07
          2014.0    541474.45
H0AL02103 2010.0    127314.17
H0AL02111 2010.0          NaN
H0AL03184 2010.0          NaN
H0AL05049 2004.0    467848.90
          2006.0    332285.59
          2008.0    454202.00
          2010.0     10023.55
          2012.0       735.00
          2014.0          NaN
H0AL05155 2010.0    518734.69
          2012.0      9324.78
H0AL05163 2010.0      1626.96
          2012.0      2321.95
          2014.0       215.00
H0AL05171 2010.0     18926.36
H0AL05189 2010.0    370262.34
H0AL05197 2010.0    756375.70
          2012.0    161419.77
H0AL07060 2004.0   1004122.38
          2006.0    405922.39
          2008.0    579570.41
...                       ...
S8TN00246 2008.0    155202.00
S8TX00202 2008.0   4061842.00
          2010.0       723.00
S8TX00228 2008.0     14396.00
S8VA00214 2004.0    214384.60
          2006.0  15703582.53
          2008.0    181683.63
          2012.0  14194518.10
          2014.0     36146.13
S8VA00255 2008.0   2389603.15
          2010.0     22641.24
S8VA00263 2008.0     88847.00
          2012.0     58640.35
          2014.0      1067.95
S8WA00194 2006.0  14223069.42
          2008.0    899642.00
          2010.0    931331.42
          2012.0   8296449.12
          2014.0    893864.58
S8WI00026 2006.0   1605292.48
          2008.0   2327769.00
          2010.0  14982047.15
          2012.0   3918602.37
          2014.0   2470340.41
S8WI00158 2012.0   3505271.39
          2014.0     50779.77
S8WV00093 2008.0    107027.00
S8WV00101 2010.0          NaN
S8WY00163 2008.0     15796.00
S8WY00171 2008.0      6372.00

[10765 rows x 1 columns]

In [149]:
#test
agg_df.loc['S8WY00163',2008]

c13    15796.0
Name: (S8WY00163, 2008.0), dtype: float64

In [150]:
cs13.head()

                  c13
cand_id   cycle
H6FL19038 2006.0  NaN
H2NY17071 2004.0  NaN
H8TX27023 2008.0  NaN
H8OH18088 2012.0  NaN
H0SC01071 2008.0  NaN

In [203]:
pr = exp

In [204]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012.0
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012.0
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012.0
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010.0
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010.0

In [205]:
pr = pr.drop(['cmte_id', 'exp_sum', 'category'], axis = 1)

In [ ]:
#exp= exp[pd.notnull(cs12['c12'])]

In [206]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2012.0
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2012.0
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,2012.0
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2010.0
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2010.0

In [ ]:
#cs10 = cs10.drop_duplicates()

In [207]:
pr.set_index(['cand_id','cycle'], inplace=True)

In [208]:
pr.head()

                 state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012.0                 AL        7       (I)     D            0.0
          2012.0                 AL        7       (I)   DEM        93586.0
          2012.0                 AL        7       (I)     D        58193.0
          2010.0                 AL        7       (I)     D            0.0
          2010.0                 AL        7       (I)   DEM        93586.0

                  runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012.0           NaN       228518.0                       NaN
          2012.0           NaN       133870.0                       NaN
          2012.0           NaN       183408.0                       NaN
          2010.0           NaN       228518.0                       NaN
          2010.0           NaN       133870.0                       NaN

                 ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012.0                   W       228518
          2012.0                   W       227456
          2012.0                   W       241601
          2010.0                   W       228518
          2010.0                   W       227456

In [218]:
pr['primary_votes'].fillna(0, inplace = True)

In [220]:
pr['runoff_votes'].fillna(0, inplace = True)

In [222]:
pr['ge_runoff_election_votes'].fillna(0, inplace = True)

In [223]:
pr['general_votes'].fillna(0, inplace = True)

In [224]:
pr.head()

                 state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012.0                 AL        7       (I)     D            0.0
          2012.0                 AL        7       (I)   DEM        93586.0
          2012.0                 AL        7       (I)     D        58193.0
          2010.0                 AL        7       (I)     D            0.0
          2010.0                 AL        7       (I)   DEM        93586.0

                  runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012.0           0.0       228518.0                       0.0
          2012.0           0.0       133870.0                       0.0
          2012.0           0.0       183408.0                       0.0
          2010.0           0.0       228518.0                       0.0
          2010.0           0.0       133870.0                       0.0

                 ge_winner_indicator  total_votes  primary_total
cand_id   cycle
H0AL07060 2012.0                   W       228518            NaN
          2012.0                   W       227456            NaN
          2012.0                   W       241601            NaN
          2010.0                   W       228518            NaN
          2010.0                   W       227456            NaN

In [225]:
pr['primary_total'] = pr.primary_votes + pr.runoff_votes

In [226]:
pr.head()

                 state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012.0                 AL        7       (I)     D            0.0
          2012.0                 AL        7       (I)   DEM        93586.0
          2012.0                 AL        7       (I)     D        58193.0
          2010.0                 AL        7       (I)     D            0.0
          2010.0                 AL        7       (I)   DEM        93586.0

                  runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012.0           0.0       228518.0                       0.0
          2012.0           0.0       133870.0                       0.0
          2012.0           0.0       183408.0                       0.0
          2010.0           0.0       228518.0                       0.0
          2010.0           0.0       133870.0                       0.0

                 ge_winner_indicator  total_votes  primary_total
cand_id   cycle
H0AL07060 2012.0                   W       228518            0.0
          2012.0                   W       227456        93586.0
          2012.0                   W       241601        58193.0
          2010.0                   W       228518            0.0
          2010.0                   W       227456        93586.0

In [227]:
pr['general_total'] = pr.general_votes + pr.ge_runoff_election_votes

In [228]:
pr.head()

                 state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012.0                 AL        7       (I)     D            0.0
          2012.0                 AL        7       (I)   DEM        93586.0
          2012.0                 AL        7       (I)     D        58193.0
          2010.0                 AL        7       (I)     D            0.0
          2010.0                 AL        7       (I)   DEM        93586.0

                  runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012.0           0.0       228518.0                       0.0
          2012.0           0.0       133870.0                       0.0
          2012.0           0.0       183408.0                       0.0
          2010.0           0.0       228518.0                       0.0
          2010.0           0.0       133870.0                       0.0

                 ge_winner_indicator  total_votes  primary_total  \
cand_id   cycle
H0AL07060 2012.0                   W       228518            0.0
          2012.0                   W       227456        93586.0
          2012.0                   W       241601        58193.0
          2010.0                   W       228518            0.0
          2010.0                   W       227456        93586.0

                  general_total
cand_id   cycle
H0AL07060 2012.0       228518.0
          2012.0       133870.0
          2012.0       183408.0
          2010.0       228518.0
          2010.0       133870.0

In [108]:
#cm1 = pd.merge(cs1, cs2, on=['cand_id','cycle'], how='left')

In [919]:
#csm1 = pd.merge(csm1, cs3, on=['cand_id','cycle'], how='left')

In [921]:
#csm1 = pd.merge(csm1, cs4, on=['cand_id','cycle'], how='left')

In [922]:
#csm1 = pd.merge(csm1, cs5, on=['cand_id','cycle'], how='left')

In [923]:
#csm1 = pd.merge(csm1, cs6, on=['cand_id','cycle'], how='left')

In [924]:
#csm1 = pd.merge(csm1, cs7, on=['cand_id','cycle'], how='left')

In [926]:
csm1 = pd.merge(csm1, cs8, on=['cand_id','cycle'], how='left')

In [927]:
csm1 = pd.merge(csm1, cs9, on=['cand_id','cycle'], how='left')

In [928]:
csm1 = pd.merge(csm1, cs10, on=['cand_id','cycle'], how='left')

In [929]:
csm1 = pd.merge(csm1, cs11, on=['cand_id','cycle'], how='left')

In [930]:
csm1 = pd.merge(csm1, cs12, on=['cand_id','cycle'], how='left')

In [934]:
csm1 = csm1.drop(['c13'], axis = 1)

In [942]:
csm1 = csm1.drop_duplicates()

In [944]:
csm1.head(200)

,cand_id,cycle,c1,c2,c3_x,c3_y,c4,c5,c6,c7,c8_x,c8_y,c9,c10,c11,c12
0,H6FL19038,2006.0,281886.64,200949.90,15308.78,15308.78,7800.00,20047.00,8011.01,38080.63,233.1,233.1,NaN,NaN,5800.00,3860.0
1,H2NY17071,2004.0,4500.00,12621.75,115399.49,115399.49,15080.50,NaN,4072.70,1725.00,NaN,NaN,NaN,NaN,NaN,15105.0
4,H8TX27023,2008.0,12900.00,NaN,3219.89,3219.89,NaN,12500.00,18556.24,8196.24,NaN,NaN,NaN,NaN,NaN,NaN
5,H8OH18088,2012.0,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,H0SC01071,2008.0,83183.76,NaN,356821.07,356821.07,679404.42,10467.00,60730.92,2500.00,NaN,NaN,NaN,NaN,NaN,300.0
7,S0CA00199,2010.0,65563.32,675.26,45426.21,45426.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,S0MI00056,2014.0,49863.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,H2GA12113,2012.0,162924.41,7144.35,9880.76,9880.76,254994.25,28725.00,34770.08,3127.98,NaN,NaN,NaN,NaN,NaN,NaN
10,H8NJ03156,2010.0,48652.69,106.95,63755.47,63755.47,60.00,NaN,NaN,3156.49,NaN,NaN,NaN,NaN,NaN,NaN
12,H6AZ08020,2006.0,21606.11,1648.57,20453.98,20453.98,42517.38,1559.97,2500.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,H4WV03070,2014.0,2826.00,NaN,NaN,NaN,250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,H4WI04191,2006.0,966.06,1331.99,3131.57,3131.57,535.00,NaN,12424.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,H8VA10072,2008.0,4602.00,22.00,NaN,NaN,1866.35,NaN,NaN,437.45,NaN,NaN,NaN,NaN,NaN,NaN
18,H2MA01202,2012.0,13388.58,3233.18,246.16,246.16,NaN,NaN,5239.16,723.20,NaN,NaN,NaN,NaN,NaN,NaN
19,H6WV03083,2006.0,1652.00,1893.35,11829.57,11829.57,19280.88,NaN,2554.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,H8WY00148,2012.0,68895.65,NaN,31580.79,31580.79,208217.94,17400.00,4236.28,35098.36,NaN,NaN,NaN,NaN,NaN,NaN
21,H8WI01024,2014.0,356582.98,26313.87,2560762.13,2560762.13,2215770.26,103000.00,1976.14,36630.46,NaN,NaN,NaN,NaN,119180.00,NaN
25,H8WI01024,2014.0,356582.98,26313.87,2560762.13,2560762.13,0.80,103000.00,1976.14,36630.46,NaN,NaN,NaN,NaN,119180.00,NaN
29,H6TX09033,2004.0,1143785.48,57168.82,491.39,491.39,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
32,H6TX09033,2004.0,1143785.48,57168.82,491.39,63707.74,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
35,H6TX09033,2004.0,1143785.48,57168.82,491.39,4165.73,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
38,H6TX09033,2004.0,1143785.48,57168.82,63707.74,491.39,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
41,H6TX09033,2004.0,1143785.48,57168.82,63707.74,63707.74,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
44,H6TX09033,2004.0,1143785.48,57168.82,63707.74,4165.73,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
47,H6TX09033,2004.0,1143785.48,57168.82,4165.73,491.39,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
50,H6TX09033,2004.0,1143785.48,57168.82,4165.73,63707.74,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
53,H6TX09033,2004.0,1143785.48,57168.82,4165.73,4165.73,527367.00,57000.00,210197.91,7784.56,NaN,NaN,1965.64,7469.82,NaN,NaN
56,H0IN07157,2012.0,28824.84,NaN,10805.27,10805.27,55159.71,52.43,712.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,H2MI11042,2014.0,1938.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,H0FL12150,2010.0,11395.96,NaN,45.00,45.00,972.41,NaN,630.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,H2KY04071,2006.0,656909.32,13106.34,8876.70,10807.15,2255538.25,57592.00,2649.00,26075.88,NaN,NaN,NaN,NaN,362.05,NaN
360,H2KY04071,2006.0,656909.32,13106.34,8876.70,794719.08,2255538.25,57592.00,2649.00,26075.88,NaN,NaN,NaN,NaN,362.05,NaN
364,H2KY04071,2006.0,656909.32,13106.34,8876.70,8876.70,2255538.25,57592.00,2649.00,26075.88,NaN,NaN,NaN,NaN,362.05,NaN
368,H2SC00020,2012.0,211441.86,1360.62,10241.87,10241.87,434017.72,NaN,4755.38,535.32,NaN,NaN,NaN,NaN,NaN,NaN
369,H8MN03085,2010.0,44397.70,400.00,141309.52,141309.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,H4NJ03106,2014.0,118.09,259.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,H8TX06035,2006.0,218.67,513.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,S4OK00174,2006.0,747.99,NaN,6585.79,6585.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,H2NY11116,2012.0,17590.14,15.00,2550.00,2550.00,350.00,300.00,1794.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,H4VI00120,2012.0,11439.00,2276.71,NaN,NaN,41856.50,NaN,17356.68,8748.61,NaN,NaN,NaN,NaN,NaN,NaN
383,H0MI13414,2010.0,1832.82,NaN,NaN,NaN,1376.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,H0NY02085,2004.0,399904.81,21564.59,74768.76,74768.76,3000.00,20813.08,53375.22,1835.34,NaN,NaN,NaN,1050.00,8500.00,7084.0
385,H0ID01253,2014.0,214873.08,5476.17,1414.40,1414.40,NaN,NaN,NaN,3046.92,NaN,NaN,NaN,NaN,1100.00,NaN
386,H0ID01253,2014.0,214873.08,5476.17,1414.40,48181.91,NaN,NaN,NaN,3046.92,NaN,NaN,NaN,NaN,1100.00,NaN
387,H0ID01253,2014.0,214873.08,5476.17,48181.91,1414.40,NaN,NaN,NaN,3046.92,NaN,NaN,NaN,NaN,1100.00,NaN
388,H0ID01253,2014.0,214873.08,5476.17,48181.91,48181.91,NaN,NaN,NaN,3046.92,NaN,NaN,NaN,NaN,1100.00,NaN
389,H0NY20095,2012.0,5050.01,2145.70,4669.62,4669.62,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
392,H0NY20095,2012.0,5050.01,2145.70,4669.62,120038.99,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
395,H0NY20095,2012.0,5050.01,2145.70,4669.62,41874.93,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
398,H0NY20095,2012.0,5050.01,2145.70,4669.62,12294.47,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
401,H0NY20095,2012.0,5050.01,2145.70,120038.99,4669.62,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
404,H0NY20095,2012.0,5050.01,2145.70,120038.99,120038.99,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
407,H0NY20095,2012.0,5050.01,2145.70,120038.99,41874.93,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
410,H0NY20095,2012.0,5050.01,2145.70,120038.99,12294.47,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
413,H0NY20095,2012.0,5050.01,2145.70,41874.93,4669.62,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
416,H0NY20095,2012.0,5050.01,2145.70,41874.93,120038.99,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
419,H0NY20095,2012.0,5050.01,2145.70,41874.93,41874.93,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
422,H0NY20095,2012.0,5050.01,2145.70,41874.93,12294.47,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
425,H0NY20095,2012.0,5050.01,2145.70,12294.47,4669.62,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN
428,H0NY20095,2012.0,5050.01,2145.70,12294.47,120038.99,1607685.05,29300.00,31595.91,22285.38,NaN,NaN,NaN,NaN,300.00,NaN

In [941]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [249]:
df.head()

NameError: name 'df' is not defined

In [298]:
df = election_spend

In [299]:
df.drop('id', axis=1, inplace=True)

In [300]:
df.drop('cand_name', axis=1, inplace=True)

In [301]:
df.head()

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
1,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
3,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
4,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0

In [302]:
df.count()

cand_pty_affiliation        596418
cand_office_st              596501
cand_office                 596501
cand_office_district        596416
cand_ici                    591802
cand_id                     578858
cycle                       570056
c1                           88361
c2                           49831
c3                           68018
c4                           51496
c5                           26759
c6                           40315
c7                           41042
c8                            1749
c9                            1789
c10                           4535
c11                          18212
c12                          14674
c13                         163264
total                            0
primary_votes               513661
runoff_votes                  9603
general_votes               503383
ge_runoff_election_votes      1719
ge_winner_indicator         373803
total_votes                 578547
dtype: int64

In [303]:
df = df.drop_duplicates()

In [304]:
df.head(4)

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
6,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0
8,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0

In [305]:
df.count()

cand_pty_affiliation        210392
cand_office_st              210440
cand_office                 210440
cand_office_district        210371
cand_ici                    208982
cand_id                     206835
cycle                       203316
c1                           32732
c2                           17575
c3                           24754
c4                           18589
c5                            9625
c6                           14604
c7                           14623
c8                             550
c9                             703
c10                           1676
c11                           5992
c12                           5078
c13                          56812
total                            0
primary_votes               181871
runoff_votes                  4131
general_votes               173431
ge_runoff_election_votes       753
ge_winner_indicator         120002
total_votes                 206665
dtype: int64

In [306]:
df.loc[:'H6FL19038']

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
6,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0
8,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0
18,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
21,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
25,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,73945.0,NaN,W,73945.0
28,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,73945.0,NaN,W,73945.0
32,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,9124.0,NaN,NaN,9124.0
35,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,9124.0,NaN,NaN,9124.0
39,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,156619.0,NaN,NaN,156619.0
42,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,156619.0,NaN,NaN,156619.0
46,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,0.0
49,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,0.0
53,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10081.0,NaN,NaN,10081.0
56,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10081.0,NaN,NaN,10081.0
60,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88758.0,NaN,W,88758.0
63,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88758.0,NaN,W,88758.0
67,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
70,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
74,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,8622.0,NaN,NaN,8622.0
77,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,8622.0,NaN,NaN,8622.0
81,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,152153.0,NaN,W,152153.0
84,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,152153.0,NaN,W,152153.0
88,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,12421.0,NaN,NaN,12421.0
91,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,12421.0,NaN,NaN,12421.0
95,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,96115.0,NaN,W,96115.0
98,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,96115.0,NaN,W,96115.0
102,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,7984.0,NaN,NaN,7984.0
105,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,7984.0,NaN,NaN,7984.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596148,IND,AZ,H,9.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596159,KSP,US,P,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596167,GRE,TX,H,25.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596180,DEM,MO,S,0.0,I,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596193,LIB,CA,H,5.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596214,DEM,NJ,H,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596231,NLP,NV,S,0.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596257,IND,GA,H,9.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596295,LIB,NY,H,20.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596298,REP,IA,H,1.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596302,W,IN,H,1.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596304,IAP,NM,S,0.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596308,LIB,KY,H,6.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596310,PAF,CA,H,10.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596312,REP,IA,H,5.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596333,LIB,OH,H,14.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596335,IND,NY,H,22.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596363,W,FL,H,21.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596370,DEM,PA,H,13.0,I,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596375,GRE,GA,H,7.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596383,NPA,NY,H,2.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596386,NNE,CA,H,30.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596415,PFP,CA,H,36.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596432,NNE,CO,H,5.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596433,DEM,CO,H,5.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596449,IND,CA,H,33.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596453,IND,MO,H,7.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596463,GAD,US,P,0.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596478,NRP,US,P,0.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596481,NLP,OH,S,0.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [307]:
df = df[df.total_votes != 0]

In [308]:
df.head()

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
18,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
21,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
25,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,73945.0,NaN,W,73945.0

In [309]:
Expense = df[["cand_id","cand_ici","cycle","c1","c2","c3","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13"]]

In [310]:
Other = df[["cand_id","cand_pty_affiliation","cand_office_st","cand_office","cand_office_district","cand_ici","cycle","total_votes"]]

In [311]:
Expense.head(10)

,cand_id,cand_ici,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13
0,H6FL19038,C,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H6FL19038,I,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
Expense_Update = Expense.drop_duplicates()

In [313]:
Expense_Update.head()

,cand_id,cand_ici,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13
0,H6FL19038,C,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H6FL19038,I,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,H8TX27023,C,2008.0,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,S0MI00056,C,2014.0,49863.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [314]:
results.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
0,MA,1,NaN,NaN,NaN,36684.0,NaN,231747.0,NaN,NaN,2004.0,NaN,268431
1,NH,2,NaN,NaN,R,35677.0,NaN,NaN,NaN,NaN,2004.0,NaN,35677
2,TX,16,NaN,NaN,R,7753.0,NaN,NaN,NaN,NaN,2004.0,NaN,7753
3,WA,S,NaN,NaN,D,769514.0,NaN,NaN,NaN,NaN,2004.0,NaN,769514
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,0

In [315]:
df1 = results

In [316]:
df1.fec_id.apply(str)

0              nan
1              nan
2              nan
3              nan
4              nan
5              nan
6              nan
7              nan
8              nan
9              nan
10             nan
11             nan
12             nan
13       H6FL19046
14             nan
15       H6LA02207
16             nan
17             nan
18       S8NE00109
19             nan
20       H8NJ02117
21       H8NJ02133
22       H0NJ02098
23             nan
24             nan
25             nan
26             nan
27             nan
28             nan
29             nan
           ...
24805          nan
24806          nan
24807          nan
24808          nan
24809          nan
24810          nan
24811          nan
24812          nan
24813          nan
24814          nan
24815          nan
24816          nan
24817          nan
24818          nan
24819          nan
24820          nan
24821          nan
24822          nan
24823          nan
24824          nan
24825          nan
24826          nan
24827          nan
24828          nan
24829          nan
24830          nan
24831          nan
24832          nan
24833          nan
24834          nan
Name: fec_id, dtype: object

In [317]:
df2 = df1[pd.notnull(df1['fec_id'])]

In [318]:
df2.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,NaN,NPA,NaN,NaN,20214.0,NaN,NaN,2008.0,NaN,20214
15,LA,2,H6LA02207,NaN,LBT,0.0,NaN,549.0,NaN,NaN,2008.0,NaN,549
18,NE,S,S8NE00109,NaN,N(R),289.0,NaN,NaN,NaN,NaN,2008.0,NaN,289
20,NJ,2,H8NJ02117,NaN,CNJ,NaN,NaN,1551.0,NaN,NaN,2008.0,NaN,1551
21,NJ,2,H8NJ02133,NaN,RTB,NaN,NaN,1312.0,NaN,NaN,2008.0,NaN,1312
22,NJ,2,H0NJ02098,NaN,SUS,NaN,NaN,648.0,NaN,NaN,2008.0,NaN,648
43,RI,1,H6RI01104,NaN,I,NaN,NaN,15108.0,NaN,NaN,2008.0,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,NaN,161067.0,NaN,W,2004.0,NaN,161067
48,AL,1,H2AL01119,NaN,D,0.0,NaN,93938.0,NaN,NaN,2004.0,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,NaN,177086.0,NaN,W,2004.0,NaN,177086
51,AL,2,H4AL02063,NaN,D,0.0,NaN,70562.0,NaN,NaN,2004.0,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,NaN,150411.0,NaN,W,2004.0,NaN,150411
54,AL,3,H4AL03046,NaN,D,0.0,NaN,95240.0,NaN,NaN,2004.0,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,NaN,191110.0,NaN,W,2004.0,NaN,191110
57,AL,4,H4AL04028,NaN,D,0.0,NaN,64278.0,NaN,NaN,2004.0,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,NaN,200999.0,NaN,W,2004.0,NaN,238572
60,AL,5,H2AL05078,NaN,D,4393.0,NaN,NaN,NaN,NaN,2004.0,NaN,4393
62,AL,5,H4AL05066,NaN,R,6742.0,2371.0,74145.0,NaN,NaN,2004.0,NaN,83258
63,AL,5,H2AL05060,NaN,R,6007.0,2130.0,NaN,NaN,NaN,2004.0,NaN,8137
64,AL,5,H4AL05058,NaN,R,2175.0,NaN,NaN,NaN,NaN,2004.0,NaN,2175

In [320]:
df2['incumbent']=df2['incumbent'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [321]:
df2['primary_votes']=df2['primary_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [322]:
df2['runoff_votes']=df2['runoff_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [323]:
df2['general_votes']=df2['general_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [325]:
df2['ge_runoff_election_votes']=df2['ge_runoff_election_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [326]:
df2.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,NaN,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,NaN,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,NaN,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,NaN,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,NaN,2008.0,NaN,1312

In [327]:
df2['ge_winner_indicator']=df2['ge_winner_indicator'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [328]:
df2.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008.0,NaN,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,0.0,0,2008.0,NaN,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,0.0,0,2008.0,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,0.0,161067.0,0.0,W,2004.0,NaN,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,0.0,0,2004.0,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,0.0,177086.0,0.0,W,2004.0,NaN,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,0.0,0,2004.0,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,0.0,150411.0,0.0,W,2004.0,NaN,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,0.0,0,2004.0,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,0.0,191110.0,0.0,W,2004.0,NaN,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,0.0,0,2004.0,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,0.0,200999.0,0.0,W,2004.0,NaN,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,0.0,0,2004.0,NaN,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,0.0,0,2004.0,NaN,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,0.0,0,2004.0,NaN,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,0.0,0,2004.0,NaN,2175

In [330]:
df3 = df2.replace("W",1)

In [331]:
df3.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008.0,NaN,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,0.0,0,2008.0,NaN,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,0.0,0,2008.0,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,0.0,161067.0,0.0,1,2004.0,NaN,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,0.0,0,2004.0,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,0.0,177086.0,0.0,1,2004.0,NaN,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,0.0,0,2004.0,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,0.0,150411.0,0.0,1,2004.0,NaN,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,0.0,0,2004.0,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,0.0,191110.0,0.0,1,2004.0,NaN,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,0.0,0,2004.0,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,0.0,200999.0,0.0,1,2004.0,NaN,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,0.0,0,2004.0,NaN,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,0.0,0,2004.0,NaN,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,0.0,0,2004.0,NaN,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,0.0,0,2004.0,NaN,2175

In [332]:
df4 = df3.replace("(I)",1)

In [335]:
df4.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008.0,NaN,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,0.0,0,2008.0,NaN,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,0.0,0,2008.0,NaN,15108
47,AL,1,H2AL01077,1,R,0.0,0.0,161067.0,0.0,1,2004.0,NaN,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,0.0,0,2004.0,NaN,93938
50,AL,2,H2AL02067,1,R,0.0,0.0,177086.0,0.0,1,2004.0,NaN,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,0.0,0,2004.0,NaN,70562
53,AL,3,H2AL03032,1,R,0.0,0.0,150411.0,0.0,1,2004.0,NaN,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,0.0,0,2004.0,NaN,95240
56,AL,4,H6AL04098,1,R,0.0,0.0,191110.0,0.0,1,2004.0,NaN,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,0.0,0,2004.0,NaN,64278
59,AL,5,H0AL05049,1,D,37573.0,0.0,200999.0,0.0,1,2004.0,NaN,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,0.0,0,2004.0,NaN,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,0.0,0,2004.0,NaN,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,0.0,0,2004.0,NaN,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,0.0,0,2004.0,NaN,2175

In [336]:
results_clean = df4.drop_duplicates()

In [338]:
results_clean.count()

state_abbreviation          13459
district                    13399
fec_id                      13459
incumbent                   13459
party                       13352
primary_votes               13459
runoff_votes                13459
general_votes               13459
ge_runoff_election_votes    13459
ge_winner_indicator         13459
year                        13459
blank                           0
total_votes                 13459
dtype: int64

In [340]:
results_clean.drop('ge_runoff_election_votes', axis=1, inplace=True)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [341]:
results_clean.drop('ge_winner_indicator', axis=1, inplace=True)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [342]:
results_clean.drop('blank', axis=1, inplace=True)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [343]:
results_clean.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,year,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,2008.0,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,2008.0,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,2008.0,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,2008.0,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,2008.0,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,2008.0,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,2008.0,15108
47,AL,1,H2AL01077,1,R,0.0,0.0,161067.0,2004.0,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,2004.0,93938
50,AL,2,H2AL02067,1,R,0.0,0.0,177086.0,2004.0,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,2004.0,70562
53,AL,3,H2AL03032,1,R,0.0,0.0,150411.0,2004.0,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,2004.0,95240
56,AL,4,H6AL04098,1,R,0.0,0.0,191110.0,2004.0,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,2004.0,64278
59,AL,5,H0AL05049,1,D,37573.0,0.0,200999.0,2004.0,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,2004.0,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,2004.0,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,2004.0,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,2004.0,2175

In [ ]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(data, class_column='label')

In [ ]:
from sklearn.model_selection import train_test_split as tts 

X = data[[
    '??', '??', '??', '??', '??', '??', '??'
]]
y = data['label']

print(X.shape)
print(y.shape)

In [ ]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)