# Data Classification

# Notebook set-up

In [127]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [295]:
FIXTURES = os.path.abspath(os.path.join(os.path.dirname("."), "..", "..", "data"))
WHEAT = os.path.join(FIXTURES, "???", "???.csv")

In [128]:
# Load the data into a dataframe 
can_master = pd.read_csv('can-1996-2016.csv')
cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
#exp=pd.read_csv('expresults.csv')
#election_spend=pd.read_csv('catall.csv')
results = pd.read_csv('candr.csv')
catsort= pd.read_csv('catsort.csv')

/Users/adammorris/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [129]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008.0,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012.0,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008.0,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
cs1 = catsort

In [132]:
cs1.drop(['c2','c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis=1)

         cand_id   cycle          c1  total
0      H6FL19038  2006.0   281886.64    NaN
1      H2NY17071  2004.0     4500.00    NaN
2      H8TX27023  2008.0    12900.00    NaN
3      H8OH18088  2012.0       30.00    NaN
4      H0SC01071  2008.0    83183.76    NaN
5      S0CA00199  2010.0    65563.32    NaN
6      S0MI00056  2014.0    49863.62    NaN
7      H2GA12113  2012.0   162924.41    NaN
8      H8NJ03156  2010.0    48652.69    NaN
9      H6AZ08020  2006.0    21606.11    NaN
10     H4WV03070  2014.0     2826.00    NaN
11     H4WI04191  2006.0      966.06    NaN
12     H8VA10072  2008.0     4602.00    NaN
13     H2MA01202  2012.0    13388.58    NaN
14     H6WV03083  2006.0     1652.00    NaN
15     H8WY00148  2012.0    68895.65    NaN
16     H8WI01024  2014.0   356582.98    NaN
17     H6TX09033  2004.0  1143785.48    NaN
18     H0IN07157  2012.0    28824.84    NaN
19     H2MI11042  2014.0     1938.75    NaN
20     H0FL12150  2010.0    11395.96    NaN
21     H8AL05109  2012.0    10019.08    NaN
22     H8VA11039  2010.0     6902.86    NaN
23     H2MN08103  2012.0    22125.35    NaN
24     H4TX19136  2012.0     4743.92    NaN
25     S2CA00286  2006.0      595.15    NaN
26     H0WI07051  2012.0     1965.96    NaN
27     H0NY02085  2010.0  1625923.74    NaN
28     H4TN06051  2008.0    86814.26    NaN
29     H8CA37137  2012.0   390071.78    NaN
...          ...     ...         ...    ...
43379  H6TX09033  2004.0         NaN    NaN
43380  S8NM00184  2014.0         NaN    NaN
43381  H6OH15104  2014.0         NaN    NaN
43382  H2TX21094  2012.0         NaN    NaN
43383  S8ID00027  2010.0         NaN    NaN
43384  H4PA08074  2006.0         NaN    NaN
43385  S0NY00410  2012.0         NaN    NaN
43386  S0NH00219  2008.0         NaN    NaN
43387  H4TX09095  2008.0         NaN    NaN
43388  H4MD06175     NaN         NaN    NaN
43389  H6HI02301  2006.0         NaN    NaN
43390  S2MO00353  2006.0         NaN    NaN
43391  H8OH01043  2008.0         NaN    NaN
43392  H0NY27066  2010.0         NaN    NaN
43393  H2AL05094  2014.0         NaN    NaN
43394  H0KY03226  2010.0         NaN    NaN
43395  H8NC11061  2012.0         NaN    NaN
43396  H6CA27272  2006.0         NaN    NaN
43397  H2ND00057  2008.0         NaN    NaN
43398  S2GA00118  2008.0         NaN    NaN
43399  S6MO00297  2010.0         NaN    NaN
43400  H8AZ05071  2008.0         NaN    NaN
43401  H2AZ07070  2014.0         NaN    NaN
43402  H2GA05133  2012.0         NaN    NaN
43403  H8FL00026     NaN         NaN    NaN
43404  H8OH05044  2004.0         NaN    NaN
43405  H0WA02098  2012.0         NaN    NaN
43406  H0WV01072  2014.0         NaN    NaN
43407  H4AZ05047     NaN         NaN    NaN
43408  S0AR00069  2014.0         NaN    NaN

[43409 rows x 4 columns]

In [210]:
    cs1.groupby(['cand_id','cycle'])['c1'].sum()

cand_id    cycle
H0AK00089  2010.0       550.00
           2012.0          NaN
H0AK01038  2010.0      1569.23
H0AL00016  2010.0     19831.34
H0AL01030  2010.0      7054.34
           2012.0      3480.00
H0AL02087  2010.0          NaN
           2012.0     11727.82
           2014.0     12132.25
H0AL02103  2010.0      2197.40
H0AL02111  2010.0      4897.58
H0AL03184  2010.0        14.95
H0AL05049  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
           2010.0      5818.75
           2012.0     11016.15
           2014.0      4592.00
H0AL05155  2010.0     56555.95
           2012.0          NaN
H0AL05163  2010.0     54616.04
           2012.0     54178.00
           2014.0     15420.65
H0AL05171  2010.0      8174.82
H0AL05189  2010.0      1082.20
H0AL05197  2010.0          NaN
           2012.0          NaN
H0AL07060  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
                       ...
S8TN00246  2008.0          NaN
S8TX00202  2008.0          NaN
           2010.0          NaN
S8TX00228  2008.0          NaN
S8VA00214  2004.0      1500.00
           2006.0       747.99
           2008.0       250.00
           2012.0    116540.57
           2014.0          NaN
S8VA00255  2008.0          NaN
           2010.0          NaN
S8VA00263  2008.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WA00194  2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WI00026  2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WI00158  2012.0      2377.63
           2014.0          NaN
S8WV00093  2008.0          NaN
S8WV00101  2010.0      2318.01
S8WY00163  2008.0          NaN
S8WY00171  2008.0          NaN
Name: c1, dtype: float64

In [121]:
cs1.head()

     cand_id   cycle         c1  total
0  H6FL19038  2006.0  281886.64    NaN
1  H2NY17071  2004.0    4500.00    NaN
2  H8TX27023  2008.0   12900.00    NaN
3  H8OH18088  2012.0      30.00    NaN
4  H0SC01071  2008.0   83183.76    NaN

In [133]:
cs2 = catsort

In [149]:
cs2.drop(['c1','c3','c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis =1)

         cand_id   cycle  c2  total
0      H6FL19038  2006.0 NaN    NaN
1      H2NY17071  2004.0 NaN    NaN
2      H8TX27023  2008.0 NaN    NaN
3      H8OH18088  2012.0 NaN    NaN
4      H0SC01071  2008.0 NaN    NaN
5      S0CA00199  2010.0 NaN    NaN
6      S0MI00056  2014.0 NaN    NaN
7      H2GA12113  2012.0 NaN    NaN
8      H8NJ03156  2010.0 NaN    NaN
9      H6AZ08020  2006.0 NaN    NaN
10     H4WV03070  2014.0 NaN    NaN
11     H4WI04191  2006.0 NaN    NaN
12     H8VA10072  2008.0 NaN    NaN
13     H2MA01202  2012.0 NaN    NaN
14     H6WV03083  2006.0 NaN    NaN
15     H8WY00148  2012.0 NaN    NaN
16     H8WI01024  2014.0 NaN    NaN
17     H6TX09033  2004.0 NaN    NaN
18     H0IN07157  2012.0 NaN    NaN
19     H2MI11042  2014.0 NaN    NaN
20     H0FL12150  2010.0 NaN    NaN
21     H8AL05109  2012.0 NaN    NaN
22     H8VA11039  2010.0 NaN    NaN
23     H2MN08103  2012.0 NaN    NaN
24     H4TX19136  2012.0 NaN    NaN
25     S2CA00286  2006.0 NaN    NaN
26     H0WI07051  2012.0 NaN    NaN
27     H0NY02085  2010.0 NaN    NaN
28     H4TN06051  2008.0 NaN    NaN
29     H8CA37137  2012.0 NaN    NaN
...          ...     ...  ..    ...
43379  H6TX09033  2004.0 NaN    NaN
43380  S8NM00184  2014.0 NaN    NaN
43381  H6OH15104  2014.0 NaN    NaN
43382  H2TX21094  2012.0 NaN    NaN
43383  S8ID00027  2010.0 NaN    NaN
43384  H4PA08074  2006.0 NaN    NaN
43385  S0NY00410  2012.0 NaN    NaN
43386  S0NH00219  2008.0 NaN    NaN
43387  H4TX09095  2008.0 NaN    NaN
43388  H4MD06175     NaN NaN    NaN
43389  H6HI02301  2006.0 NaN    NaN
43390  S2MO00353  2006.0 NaN    NaN
43391  H8OH01043  2008.0 NaN    NaN
43392  H0NY27066  2010.0 NaN    NaN
43393  H2AL05094  2014.0 NaN    NaN
43394  H0KY03226  2010.0 NaN    NaN
43395  H8NC11061  2012.0 NaN    NaN
43396  H6CA27272  2006.0 NaN    NaN
43397  H2ND00057  2008.0 NaN    NaN
43398  S2GA00118  2008.0 NaN    NaN
43399  S6MO00297  2010.0 NaN    NaN
43400  H8AZ05071  2008.0 NaN    NaN
43401  H2AZ07070  2014.0 NaN    NaN
43402  H2GA05133  2012.0 NaN    NaN
43403  H8FL00026     NaN NaN    NaN
43404  H8OH05044  2004.0 NaN    NaN
43405  H0WA02098  2012.0 NaN    NaN
43406  H0WV01072  2014.0 NaN    NaN
43407  H4AZ05047     NaN NaN    NaN
43408  S0AR00069  2014.0 NaN    NaN

[43409 rows x 4 columns]

In [211]:
cs2.groupby(['cand_id','cycle'])['c2'].sum()

cand_id    cycle
H0AK00089  2010.0         NaN
           2012.0         NaN
H0AK01038  2010.0       88.93
H0AL00016  2010.0      909.80
H0AL01030  2010.0     5233.32
           2012.0       27.72
H0AL02087  2010.0         NaN
           2012.0         NaN
           2014.0         NaN
H0AL02103  2010.0         NaN
H0AL02111  2010.0         NaN
H0AL03184  2010.0     1441.91
H0AL05049  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
H0AL05155  2010.0    15549.94
           2012.0         NaN
H0AL05163  2010.0     2343.79
           2012.0     8154.95
           2014.0     8540.32
H0AL05171  2010.0         NaN
H0AL05189  2010.0         NaN
H0AL05197  2010.0         NaN
           2012.0         NaN
H0AL07060  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
                       ...
S8TN00246  2008.0         NaN
S8TX00202  2008.0         NaN
           2010.0         NaN
S8TX00228  2008.0         NaN
S8VA00214  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
           2012.0         NaN
           2014.0         NaN
S8VA00255  2008.0         NaN
           2010.0         NaN
S8VA00263  2008.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WA00194  2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WI00026  2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WI00158  2012.0      475.00
           2014.0         NaN
S8WV00093  2008.0         NaN
S8WV00101  2010.0         NaN
S8WY00163  2008.0         NaN
S8WY00171  2008.0         NaN
Name: c2, dtype: float64

In [151]:
cs3 = catsort

In [152]:
cs3 = cs3.drop(['c1', 'c2', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [212]:
cs3.groupby(['cand_id','cycle'])['c3'].sum()

cand_id    cycle
H0AK00089  2010.0          NaN
           2012.0          NaN
H0AK01038  2010.0          NaN
H0AL00016  2010.0        81.19
H0AL01030  2010.0       668.95
           2012.0       381.09
H0AL02087  2010.0          NaN
           2012.0     16964.09
           2014.0     16866.78
H0AL02103  2010.0          NaN
H0AL02111  2010.0       484.62
H0AL03184  2010.0          NaN
H0AL05049  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
H0AL05155  2010.0    266006.98
           2012.0      4745.35
H0AL05163  2010.0     71452.12
           2012.0    121673.90
           2014.0     91996.02
H0AL05171  2010.0          NaN
H0AL05189  2010.0          NaN
H0AL05197  2010.0          NaN
           2012.0          NaN
H0AL07060  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
                       ...
S8TN00246  2008.0          NaN
S8TX00202  2008.0          NaN
           2010.0          NaN
S8TX00228  2008.0          NaN
S8VA00214  2004.0      5112.83
           2006.0      6585.79
           2008.0          NaN
           2012.0     53277.88
           2014.0          NaN
S8VA00255  2008.0          NaN
           2010.0          NaN
S8VA00263  2008.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WA00194  2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WI00026  2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WI00158  2012.0          NaN
           2014.0          NaN
S8WV00093  2008.0          NaN
S8WV00101  2010.0          NaN
S8WY00163  2008.0          NaN
S8WY00171  2008.0          NaN
Name: c3, dtype: float64

In [153]:
cs3.head()

     cand_id   cycle  c3  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [154]:
cs4 = catsort

In [155]:
cs4 = cs4.drop(['c1', 'c2', 'c3', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [213]:
cs4.groupby(['cand_id','cycle'])['c4'].sum()

cand_id    cycle
H0AK00089  2010.0          NaN
           2012.0          NaN
H0AK01038  2010.0          NaN
H0AL00016  2010.0       465.00
H0AL01030  2010.0     27082.28
           2012.0      7257.71
H0AL02087  2010.0          NaN
           2012.0          NaN
           2014.0          NaN
H0AL02103  2010.0          NaN
H0AL02111  2010.0      8403.45
H0AL03184  2010.0      5000.00
H0AL05049  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
H0AL05155  2010.0     20809.92
           2012.0          NaN
H0AL05163  2010.0    547321.04
           2012.0    165131.27
           2014.0     81481.66
H0AL05171  2010.0     40231.96
H0AL05189  2010.0          NaN
H0AL05197  2010.0       595.35
           2012.0          NaN
H0AL07060  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
                       ...
S8TN00246  2008.0          NaN
S8TX00202  2008.0          NaN
           2010.0          NaN
S8TX00228  2008.0          NaN
S8VA00214  2004.0          NaN
           2006.0          NaN
           2008.0          NaN
           2012.0          NaN
           2014.0          NaN
S8VA00255  2008.0          NaN
           2010.0          NaN
S8VA00263  2008.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WA00194  2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WI00026  2006.0          NaN
           2008.0          NaN
           2010.0          NaN
           2012.0          NaN
           2014.0          NaN
S8WI00158  2012.0          NaN
           2014.0          NaN
S8WV00093  2008.0          NaN
S8WV00101  2010.0          NaN
S8WY00163  2008.0          NaN
S8WY00171  2008.0          NaN
Name: c4, dtype: float64

In [156]:
cs4.head()

     cand_id   cycle  c4  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [157]:
cs5 = catsort

In [158]:
cs5 = cs5.drop(['c1', 'c2', 'c3', 'c4', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [214]:
cs5.groupby(['cand_id','cycle'])['c5'].sum()

cand_id    cycle
H0AK00089  2010.0        NaN
           2012.0        NaN
H0AK01038  2010.0        NaN
H0AL00016  2010.0        NaN
H0AL01030  2010.0     1175.0
           2012.0        NaN
H0AL02087  2010.0        NaN
           2012.0        NaN
           2014.0        NaN
H0AL02103  2010.0        NaN
H0AL02111  2010.0        NaN
H0AL03184  2010.0        NaN
H0AL05049  2004.0        NaN
           2006.0        NaN
           2008.0        NaN
           2010.0        NaN
           2012.0        NaN
           2014.0        NaN
H0AL05155  2010.0        NaN
           2012.0        NaN
H0AL05163  2010.0    27000.0
           2012.0    17000.0
           2014.0    15000.0
H0AL05171  2010.0        NaN
H0AL05189  2010.0        NaN
H0AL05197  2010.0        NaN
           2012.0        NaN
H0AL07060  2004.0        NaN
           2006.0        NaN
           2008.0        NaN
                      ...
S8TN00246  2008.0        NaN
S8TX00202  2008.0        NaN
           2010.0        NaN
S8TX00228  2008.0        NaN
S8VA00214  2004.0        NaN
           2006.0        NaN
           2008.0        NaN
           2012.0        NaN
           2014.0        NaN
S8VA00255  2008.0        NaN
           2010.0        NaN
S8VA00263  2008.0        NaN
           2012.0        NaN
           2014.0        NaN
S8WA00194  2006.0        NaN
           2008.0        NaN
           2010.0        NaN
           2012.0        NaN
           2014.0        NaN
S8WI00026  2006.0        NaN
           2008.0        NaN
           2010.0        NaN
           2012.0        NaN
           2014.0        NaN
S8WI00158  2012.0        NaN
           2014.0        NaN
S8WV00093  2008.0        NaN
S8WV00101  2010.0        NaN
S8WY00163  2008.0        NaN
S8WY00171  2008.0        NaN
Name: c5, dtype: float64

In [159]:
cs5.head()

     cand_id   cycle  c5  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [160]:
cs6 = catsort

In [161]:
cs6 = cs6.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [215]:
cs6.groupby(['cand_id','cycle'])['c6'].sum()

cand_id    cycle
H0AK00089  2010.0      785.00
           2012.0         NaN
H0AK01038  2010.0         NaN
H0AL00016  2010.0     3177.55
H0AL01030  2010.0     1295.21
           2012.0         NaN
H0AL02087  2010.0         NaN
           2012.0         NaN
           2014.0         NaN
H0AL02103  2010.0         NaN
H0AL02111  2010.0     7489.74
H0AL03184  2010.0     2293.50
H0AL05049  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
H0AL05155  2010.0         NaN
           2012.0         NaN
H0AL05163  2010.0    66857.04
           2012.0    16138.18
           2014.0    11833.66
H0AL05171  2010.0     5993.05
H0AL05189  2010.0         NaN
H0AL05197  2010.0         NaN
           2012.0         NaN
H0AL07060  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
                       ...
S8TN00246  2008.0         NaN
S8TX00202  2008.0         NaN
           2010.0         NaN
S8TX00228  2008.0         NaN
S8VA00214  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
           2012.0         NaN
           2014.0         NaN
S8VA00255  2008.0         NaN
           2010.0         NaN
S8VA00263  2008.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WA00194  2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WI00026  2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WI00158  2012.0         NaN
           2014.0         NaN
S8WV00093  2008.0         NaN
S8WV00101  2010.0         NaN
S8WY00163  2008.0         NaN
S8WY00171  2008.0         NaN
Name: c6, dtype: float64

In [162]:
cs6.head()

     cand_id   cycle  c6  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [220]:
cs7 = catsort

In [221]:
cs7 = cs7.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [222]:
cs7.groupby(['cand_id','cycle'])['c7'].sum()

cand_id    cycle
H0AK00089  2010.0         NaN
           2012.0         NaN
H0AK01038  2010.0         NaN
H0AL00016  2010.0     2192.99
H0AL01030  2010.0      583.75
           2012.0       56.58
H0AL02087  2010.0         NaN
           2012.0         NaN
           2014.0         NaN
H0AL02103  2010.0         NaN
H0AL02111  2010.0         NaN
H0AL03184  2010.0         NaN
H0AL05049  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
H0AL05155  2010.0    47101.73
           2012.0         NaN
H0AL05163  2010.0     9362.66
           2012.0     9083.92
           2014.0     2350.00
H0AL05171  2010.0         NaN
H0AL05189  2010.0      205.00
H0AL05197  2010.0         NaN
           2012.0         NaN
H0AL07060  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
                       ...
S8TN00246  2008.0         NaN
S8TX00202  2008.0         NaN
           2010.0         NaN
S8TX00228  2008.0         NaN
S8VA00214  2004.0         NaN
           2006.0         NaN
           2008.0         NaN
           2012.0     1516.16
           2014.0         NaN
S8VA00255  2008.0         NaN
           2010.0         NaN
S8VA00263  2008.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WA00194  2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WI00026  2006.0         NaN
           2008.0         NaN
           2010.0         NaN
           2012.0         NaN
           2014.0         NaN
S8WI00158  2012.0         NaN
           2014.0         NaN
S8WV00093  2008.0         NaN
S8WV00101  2010.0       86.42
S8WY00163  2008.0         NaN
S8WY00171  2008.0         NaN
Name: c7, dtype: float64

In [165]:
cs7.head()

     cand_id   cycle  c7  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [224]:
cs8 = catsort

In [225]:
cs8 = cs8.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c9', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [226]:
cs8.groupby(['cand_id','cycle'])['c8'].sum()

cand_id    cycle
H0AK00089  2010.0      NaN
           2012.0      NaN
H0AK01038  2010.0      NaN
H0AL00016  2010.0      NaN
H0AL01030  2010.0      NaN
           2012.0      NaN
H0AL02087  2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL02103  2010.0      NaN
H0AL02111  2010.0      NaN
H0AL03184  2010.0      NaN
H0AL05049  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL05155  2010.0      NaN
           2012.0      NaN
H0AL05163  2010.0    249.0
           2012.0      NaN
           2014.0      NaN
H0AL05171  2010.0      NaN
H0AL05189  2010.0      NaN
H0AL05197  2010.0      NaN
           2012.0      NaN
H0AL07060  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
                     ...
S8TN00246  2008.0      NaN
S8TX00202  2008.0      NaN
           2010.0      NaN
S8TX00228  2008.0      NaN
S8VA00214  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
           2012.0      NaN
           2014.0      NaN
S8VA00255  2008.0      NaN
           2010.0      NaN
S8VA00263  2008.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WA00194  2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WI00026  2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WI00158  2012.0      NaN
           2014.0      NaN
S8WV00093  2008.0      NaN
S8WV00101  2010.0      NaN
S8WY00163  2008.0      NaN
S8WY00171  2008.0      NaN
Name: c8, dtype: float64

In [227]:
cs8.head()

     cand_id   cycle  c8  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [228]:
cs9 = catsort

In [229]:
cs9 = cs9.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c10', 'c11', 'c12', 'c13'], axis = 1)

In [231]:
cs9.groupby(['cand_id','cycle'])['c9'].sum()

cand_id    cycle
H0AK00089  2010.0   NaN
           2012.0   NaN
H0AK01038  2010.0   NaN
H0AL00016  2010.0   NaN
H0AL01030  2010.0   NaN
           2012.0   NaN
H0AL02087  2010.0   NaN
           2012.0   NaN
           2014.0   NaN
H0AL02103  2010.0   NaN
H0AL02111  2010.0   NaN
H0AL03184  2010.0   NaN
H0AL05049  2004.0   NaN
           2006.0   NaN
           2008.0   NaN
           2010.0   NaN
           2012.0   NaN
           2014.0   NaN
H0AL05155  2010.0   NaN
           2012.0   NaN
H0AL05163  2010.0   NaN
           2012.0   NaN
           2014.0   NaN
H0AL05171  2010.0   NaN
H0AL05189  2010.0   NaN
H0AL05197  2010.0   NaN
           2012.0   NaN
H0AL07060  2004.0   NaN
           2006.0   NaN
           2008.0   NaN
                     ..
S8TN00246  2008.0   NaN
S8TX00202  2008.0   NaN
           2010.0   NaN
S8TX00228  2008.0   NaN
S8VA00214  2004.0   NaN
           2006.0   NaN
           2008.0   NaN
           2012.0   NaN
           2014.0   NaN
S8VA00255  2008.0   NaN
           2010.0   NaN
S8VA00263  2008.0   NaN
           2012.0   NaN
           2014.0   NaN
S8WA00194  2006.0   NaN
           2008.0   NaN
           2010.0   NaN
           2012.0   NaN
           2014.0   NaN
S8WI00026  2006.0   NaN
           2008.0   NaN
           2010.0   NaN
           2012.0   NaN
           2014.0   NaN
S8WI00158  2012.0   NaN
           2014.0   NaN
S8WV00093  2008.0   NaN
S8WV00101  2010.0   NaN
S8WY00163  2008.0   NaN
S8WY00171  2008.0   NaN
Name: c9, dtype: float64

In [232]:
cs9.head()

     cand_id   cycle  c9  total
0  H6FL19038  2006.0 NaN    NaN
1  H2NY17071  2004.0 NaN    NaN
2  H8TX27023  2008.0 NaN    NaN
3  H8OH18088  2012.0 NaN    NaN
4  H0SC01071  2008.0 NaN    NaN

In [233]:
cs10 = catsort

In [234]:
cs10 = cs10.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c11', 'c12', 'c13'], axis = 1)

In [235]:
cs10.groupby(['cand_id','cycle'])['c10'].sum()

cand_id    cycle
H0AK00089  2010.0      NaN
           2012.0      NaN
H0AK01038  2010.0      NaN
H0AL00016  2010.0      NaN
H0AL01030  2010.0      NaN
           2012.0      NaN
H0AL02087  2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL02103  2010.0      NaN
H0AL02111  2010.0      NaN
H0AL03184  2010.0      NaN
H0AL05049  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL05155  2010.0    610.0
           2012.0      NaN
H0AL05163  2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL05171  2010.0      NaN
H0AL05189  2010.0      NaN
H0AL05197  2010.0      NaN
           2012.0      NaN
H0AL07060  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
                     ...
S8TN00246  2008.0      NaN
S8TX00202  2008.0      NaN
           2010.0      NaN
S8TX00228  2008.0      NaN
S8VA00214  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
           2012.0      NaN
           2014.0      NaN
S8VA00255  2008.0      NaN
           2010.0      NaN
S8VA00263  2008.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WA00194  2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WI00026  2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WI00158  2012.0      NaN
           2014.0      NaN
S8WV00093  2008.0      NaN
S8WV00101  2010.0      NaN
S8WY00163  2008.0      NaN
S8WY00171  2008.0      NaN
Name: c10, dtype: float64

In [236]:
cs10.head()

     cand_id   cycle  c10  total
0  H6FL19038  2006.0  NaN    NaN
1  H2NY17071  2004.0  NaN    NaN
2  H8TX27023  2008.0  NaN    NaN
3  H8OH18088  2012.0  NaN    NaN
4  H0SC01071  2008.0  NaN    NaN

In [237]:
cs11 = catsort

In [238]:
cs11 = cs11.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c12', 'c13'], axis = 1)

In [239]:
cs11.groupby(['cand_id','cycle'])['c11'].sum()

cand_id    cycle
H0AK00089  2010.0      NaN
           2012.0      NaN
H0AK01038  2010.0      NaN
H0AL00016  2010.0      NaN
H0AL01030  2010.0      NaN
           2012.0      NaN
H0AL02087  2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL02103  2010.0      NaN
H0AL02111  2010.0      NaN
H0AL03184  2010.0      NaN
H0AL05049  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL05155  2010.0      NaN
           2012.0      NaN
H0AL05163  2010.0      NaN
           2012.0      NaN
           2014.0      NaN
H0AL05171  2010.0      NaN
H0AL05189  2010.0      NaN
H0AL05197  2010.0    500.0
           2012.0      NaN
H0AL07060  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
                     ...
S8TN00246  2008.0      NaN
S8TX00202  2008.0      NaN
           2010.0      NaN
S8TX00228  2008.0      NaN
S8VA00214  2004.0      NaN
           2006.0      NaN
           2008.0      NaN
           2012.0      NaN
           2014.0      NaN
S8VA00255  2008.0      NaN
           2010.0      NaN
S8VA00263  2008.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WA00194  2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WI00026  2006.0      NaN
           2008.0      NaN
           2010.0      NaN
           2012.0      NaN
           2014.0      NaN
S8WI00158  2012.0      NaN
           2014.0      NaN
S8WV00093  2008.0      NaN
S8WV00101  2010.0      NaN
S8WY00163  2008.0      NaN
S8WY00171  2008.0      NaN
Name: c11, dtype: float64

In [240]:
cs11.head()

     cand_id   cycle  c11  total
0  H6FL19038  2006.0  NaN    NaN
1  H2NY17071  2004.0  NaN    NaN
2  H8TX27023  2008.0  NaN    NaN
3  H8OH18088  2012.0  NaN    NaN
4  H0SC01071  2008.0  NaN    NaN

In [241]:
cs12 = catsort

In [242]:
cs12 = cs12.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c13'], axis = 1)

In [243]:
cs12.groupby(['cand_id','cycle'])['c12'].sum()

cand_id    cycle
H0AK00089  2010.0       NaN
           2012.0       NaN
H0AK01038  2010.0       NaN
H0AL00016  2010.0     300.0
H0AL01030  2010.0       NaN
           2012.0       NaN
H0AL02087  2010.0       NaN
           2012.0       NaN
           2014.0       NaN
H0AL02103  2010.0       NaN
H0AL02111  2010.0       NaN
H0AL03184  2010.0       NaN
H0AL05049  2004.0       NaN
           2006.0       NaN
           2008.0       NaN
           2010.0       NaN
           2012.0     500.0
           2014.0    5000.0
H0AL05155  2010.0       NaN
           2012.0       NaN
H0AL05163  2010.0       NaN
           2012.0       NaN
           2014.0       NaN
H0AL05171  2010.0       NaN
H0AL05189  2010.0       NaN
H0AL05197  2010.0       NaN
           2012.0       NaN
H0AL07060  2004.0       NaN
           2006.0       NaN
           2008.0       NaN
                      ...
S8TN00246  2008.0       NaN
S8TX00202  2008.0       NaN
           2010.0       NaN
S8TX00228  2008.0       NaN
S8VA00214  2004.0       NaN
           2006.0       NaN
           2008.0       NaN
           2012.0       NaN
           2014.0       NaN
S8VA00255  2008.0       NaN
           2010.0       NaN
S8VA00263  2008.0       NaN
           2012.0       NaN
           2014.0       NaN
S8WA00194  2006.0       NaN
           2008.0       NaN
           2010.0       NaN
           2012.0       NaN
           2014.0       NaN
S8WI00026  2006.0       NaN
           2008.0       NaN
           2010.0       NaN
           2012.0       NaN
           2014.0       NaN
S8WI00158  2012.0       NaN
           2014.0       NaN
S8WV00093  2008.0       NaN
S8WV00101  2010.0       NaN
S8WY00163  2008.0       NaN
S8WY00171  2008.0       NaN
Name: c12, dtype: float64

In [244]:
cs12.head()

     cand_id   cycle  c12  total
0  H6FL19038  2006.0  NaN    NaN
1  H2NY17071  2004.0  NaN    NaN
2  H8TX27023  2008.0  NaN    NaN
3  H8OH18088  2012.0  NaN    NaN
4  H0SC01071  2008.0  NaN    NaN

In [245]:
cs13 = catsort

In [246]:
cs13 = cs13.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12'], axis = 1)

In [247]:
cs13.groupby(['cand_id','cycle'])['c13'].sum()

cand_id    cycle
H0AK00089  2010.0      218666.06
           2012.0        3766.93
H0AK01038  2010.0      168119.58
H0AL00016  2010.0            NaN
H0AL01030  2010.0        1284.15
           2012.0            NaN
H0AL02087  2010.0     1403415.39
           2012.0      666262.07
           2014.0      541474.45
H0AL02103  2010.0      127314.17
H0AL02111  2010.0            NaN
H0AL03184  2010.0            NaN
H0AL05049  2004.0      467848.90
           2006.0      332285.59
           2008.0      454202.00
           2010.0       10023.55
           2012.0         735.00
           2014.0            NaN
H0AL05155  2010.0      518734.69
           2012.0        9324.78
H0AL05163  2010.0        1626.96
           2012.0        2321.95
           2014.0         215.00
H0AL05171  2010.0       18926.36
H0AL05189  2010.0      370262.34
H0AL05197  2010.0      756375.70
           2012.0      161419.77
H0AL07060  2004.0     1004122.38
           2006.0      405922.39
           2008.0      579570.41
                        ...
S8TN00246  2008.0      155202.00
S8TX00202  2008.0     4061842.00
           2010.0         723.00
S8TX00228  2008.0       14396.00
S8VA00214  2004.0      214384.60
           2006.0    15703582.53
           2008.0      181683.63
           2012.0    14194518.10
           2014.0       36146.13
S8VA00255  2008.0     2389603.15
           2010.0       22641.24
S8VA00263  2008.0       88847.00
           2012.0       58640.35
           2014.0        1067.95
S8WA00194  2006.0    14223069.42
           2008.0      899642.00
           2010.0      931331.42
           2012.0     8296449.12
           2014.0      893864.58
S8WI00026  2006.0     1605292.48
           2008.0     2327769.00
           2010.0    14982047.15
           2012.0     3918602.37
           2014.0     2470340.41
S8WI00158  2012.0     3505271.39
           2014.0       50779.77
S8WV00093  2008.0      107027.00
S8WV00101  2010.0            NaN
S8WY00163  2008.0       15796.00
S8WY00171  2008.0        6372.00
Name: c13, dtype: float64

In [248]:
cs13.head()

     cand_id   cycle  c13  total
0  H6FL19038  2006.0  NaN    NaN
1  H2NY17071  2004.0  NaN    NaN
2  H8TX27023  2008.0  NaN    NaN
3  H8OH18088  2012.0  NaN    NaN
4  H0SC01071  2008.0  NaN    NaN

In [249]:
df.head()

NameError: name 'df' is not defined

In [298]:
df = election_spend

In [299]:
df.drop('id', axis=1, inplace=True)

In [300]:
df.drop('cand_name', axis=1, inplace=True)

In [301]:
df.head()

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
1,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
3,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
4,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0

In [302]:
df.count()

cand_pty_affiliation        596418
cand_office_st              596501
cand_office                 596501
cand_office_district        596416
cand_ici                    591802
cand_id                     578858
cycle                       570056
c1                           88361
c2                           49831
c3                           68018
c4                           51496
c5                           26759
c6                           40315
c7                           41042
c8                            1749
c9                            1789
c10                           4535
c11                          18212
c12                          14674
c13                         163264
total                            0
primary_votes               513661
runoff_votes                  9603
general_votes               503383
ge_runoff_election_votes      1719
ge_winner_indicator         373803
total_votes                 578547
dtype: int64

In [303]:
df = df.drop_duplicates()

In [304]:
df.head(4)

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
6,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0
8,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0

In [305]:
df.count()

cand_pty_affiliation        210392
cand_office_st              210440
cand_office                 210440
cand_office_district        210371
cand_ici                    208982
cand_id                     206835
cycle                       203316
c1                           32732
c2                           17575
c3                           24754
c4                           18589
c5                            9625
c6                           14604
c7                           14623
c8                             550
c9                             703
c10                           1676
c11                           5992
c12                           5078
c13                          56812
total                            0
primary_votes               181871
runoff_votes                  4131
general_votes               173431
ge_runoff_election_votes       753
ge_winner_indicator         120002
total_votes                 206665
dtype: int64

In [306]:
df.loc[:'H6FL19038']

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
6,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0
8,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,W,0.0
18,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
21,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
25,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,73945.0,NaN,W,73945.0
28,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,73945.0,NaN,W,73945.0
32,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,9124.0,NaN,NaN,9124.0
35,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,9124.0,NaN,NaN,9124.0
39,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,156619.0,NaN,NaN,156619.0
42,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,156619.0,NaN,NaN,156619.0
46,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,0.0
49,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,0.0
53,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10081.0,NaN,NaN,10081.0
56,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10081.0,NaN,NaN,10081.0
60,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88758.0,NaN,W,88758.0
63,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,88758.0,NaN,W,88758.0
67,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
70,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
74,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,8622.0,NaN,NaN,8622.0
77,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,8622.0,NaN,NaN,8622.0
81,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,152153.0,NaN,W,152153.0
84,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,152153.0,NaN,W,152153.0
88,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,12421.0,NaN,NaN,12421.0
91,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,12421.0,NaN,NaN,12421.0
95,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,96115.0,NaN,W,96115.0
98,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,96115.0,NaN,W,96115.0
102,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,7984.0,NaN,NaN,7984.0
105,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,7984.0,NaN,NaN,7984.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596148,IND,AZ,H,9.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596159,KSP,US,P,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596167,GRE,TX,H,25.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596180,DEM,MO,S,0.0,I,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596193,LIB,CA,H,5.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596214,DEM,NJ,H,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596231,NLP,NV,S,0.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596257,IND,GA,H,9.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596295,LIB,NY,H,20.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596298,REP,IA,H,1.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596302,W,IN,H,1.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596304,IAP,NM,S,0.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596308,LIB,KY,H,6.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596310,PAF,CA,H,10.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596312,REP,IA,H,5.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596333,LIB,OH,H,14.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596335,IND,NY,H,22.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596363,W,FL,H,21.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596370,DEM,PA,H,13.0,I,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596375,GRE,GA,H,7.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596383,NPA,NY,H,2.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596386,NNE,CA,H,30.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596415,PFP,CA,H,36.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596432,NNE,CO,H,5.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596433,DEM,CO,H,5.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596449,IND,CA,H,33.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596453,IND,MO,H,7.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596463,GAD,US,P,0.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596478,NRP,US,P,0.0,O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596481,NLP,OH,S,0.0,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [307]:
df = df[df.total_votes != 0]

In [308]:
df.head()

,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,cand_id,cycle,c1,c2,c3,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,DEM,FL,H,19.0,C,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,DEM,FL,H,19.0,I,H6FL19038,2006.0,281886.64,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
18,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
21,DEM,NY,H,8.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,15135.0,NaN,W,15135.0
25,DEM,NY,H,10.0,I,H2NY17071,2004.0,4500.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,73945.0,NaN,W,73945.0

In [309]:
Expense = df[["cand_id","cand_ici","cycle","c1","c2","c3","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13"]]

In [310]:
Other = df[["cand_id","cand_pty_affiliation","cand_office_st","cand_office","cand_office_district","cand_ici","cycle","total_votes"]]

In [311]:
Expense.head(10)

,cand_id,cand_ici,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13
0,H6FL19038,C,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H6FL19038,I,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
Expense_Update = Expense.drop_duplicates()

In [313]:
Expense_Update.head()

,cand_id,cand_ici,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13
0,H6FL19038,C,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H6FL19038,I,2006.0,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,H2NY17071,I,2004.0,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,H8TX27023,C,2008.0,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,S0MI00056,C,2014.0,49863.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [314]:
results.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
0,MA,1,NaN,NaN,NaN,36684.0,NaN,231747.0,NaN,NaN,2004.0,NaN,268431
1,NH,2,NaN,NaN,R,35677.0,NaN,NaN,NaN,NaN,2004.0,NaN,35677
2,TX,16,NaN,NaN,R,7753.0,NaN,NaN,NaN,NaN,2004.0,NaN,7753
3,WA,S,NaN,NaN,D,769514.0,NaN,NaN,NaN,NaN,2004.0,NaN,769514
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,0

In [315]:
df1 = results

In [316]:
df1.fec_id.apply(str)

0              nan
1              nan
2              nan
3              nan
4              nan
5              nan
6              nan
7              nan
8              nan
9              nan
10             nan
11             nan
12             nan
13       H6FL19046
14             nan
15       H6LA02207
16             nan
17             nan
18       S8NE00109
19             nan
20       H8NJ02117
21       H8NJ02133
22       H0NJ02098
23             nan
24             nan
25             nan
26             nan
27             nan
28             nan
29             nan
           ...
24805          nan
24806          nan
24807          nan
24808          nan
24809          nan
24810          nan
24811          nan
24812          nan
24813          nan
24814          nan
24815          nan
24816          nan
24817          nan
24818          nan
24819          nan
24820          nan
24821          nan
24822          nan
24823          nan
24824          nan
24825          nan
24826          nan
24827          nan
24828          nan
24829          nan
24830          nan
24831          nan
24832          nan
24833          nan
24834          nan
Name: fec_id, dtype: object

In [317]:
df2 = df1[pd.notnull(df1['fec_id'])]

In [318]:
df2.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,NaN,NPA,NaN,NaN,20214.0,NaN,NaN,2008.0,NaN,20214
15,LA,2,H6LA02207,NaN,LBT,0.0,NaN,549.0,NaN,NaN,2008.0,NaN,549
18,NE,S,S8NE00109,NaN,N(R),289.0,NaN,NaN,NaN,NaN,2008.0,NaN,289
20,NJ,2,H8NJ02117,NaN,CNJ,NaN,NaN,1551.0,NaN,NaN,2008.0,NaN,1551
21,NJ,2,H8NJ02133,NaN,RTB,NaN,NaN,1312.0,NaN,NaN,2008.0,NaN,1312
22,NJ,2,H0NJ02098,NaN,SUS,NaN,NaN,648.0,NaN,NaN,2008.0,NaN,648
43,RI,1,H6RI01104,NaN,I,NaN,NaN,15108.0,NaN,NaN,2008.0,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,NaN,161067.0,NaN,W,2004.0,NaN,161067
48,AL,1,H2AL01119,NaN,D,0.0,NaN,93938.0,NaN,NaN,2004.0,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,NaN,177086.0,NaN,W,2004.0,NaN,177086
51,AL,2,H4AL02063,NaN,D,0.0,NaN,70562.0,NaN,NaN,2004.0,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,NaN,150411.0,NaN,W,2004.0,NaN,150411
54,AL,3,H4AL03046,NaN,D,0.0,NaN,95240.0,NaN,NaN,2004.0,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,NaN,191110.0,NaN,W,2004.0,NaN,191110
57,AL,4,H4AL04028,NaN,D,0.0,NaN,64278.0,NaN,NaN,2004.0,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,NaN,200999.0,NaN,W,2004.0,NaN,238572
60,AL,5,H2AL05078,NaN,D,4393.0,NaN,NaN,NaN,NaN,2004.0,NaN,4393
62,AL,5,H4AL05066,NaN,R,6742.0,2371.0,74145.0,NaN,NaN,2004.0,NaN,83258
63,AL,5,H2AL05060,NaN,R,6007.0,2130.0,NaN,NaN,NaN,2004.0,NaN,8137
64,AL,5,H4AL05058,NaN,R,2175.0,NaN,NaN,NaN,NaN,2004.0,NaN,2175

In [320]:
df2['incumbent']=df2['incumbent'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [321]:
df2['primary_votes']=df2['primary_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [322]:
df2['runoff_votes']=df2['runoff_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [323]:
df2['general_votes']=df2['general_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [325]:
df2['ge_runoff_election_votes']=df2['ge_runoff_election_votes'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [326]:
df2.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,NaN,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,NaN,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,NaN,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,NaN,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,NaN,2008.0,NaN,1312

In [327]:
df2['ge_winner_indicator']=df2['ge_winner_indicator'].fillna(0)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [328]:
df2.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008.0,NaN,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,0.0,0,2008.0,NaN,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,0.0,0,2008.0,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,0.0,161067.0,0.0,W,2004.0,NaN,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,0.0,0,2004.0,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,0.0,177086.0,0.0,W,2004.0,NaN,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,0.0,0,2004.0,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,0.0,150411.0,0.0,W,2004.0,NaN,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,0.0,0,2004.0,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,0.0,191110.0,0.0,W,2004.0,NaN,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,0.0,0,2004.0,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,0.0,200999.0,0.0,W,2004.0,NaN,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,0.0,0,2004.0,NaN,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,0.0,0,2004.0,NaN,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,0.0,0,2004.0,NaN,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,0.0,0,2004.0,NaN,2175

In [330]:
df3 = df2.replace("W",1)

In [331]:
df3.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008.0,NaN,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,0.0,0,2008.0,NaN,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,0.0,0,2008.0,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,0.0,161067.0,0.0,1,2004.0,NaN,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,0.0,0,2004.0,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,0.0,177086.0,0.0,1,2004.0,NaN,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,0.0,0,2004.0,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,0.0,150411.0,0.0,1,2004.0,NaN,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,0.0,0,2004.0,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,0.0,191110.0,0.0,1,2004.0,NaN,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,0.0,0,2004.0,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,0.0,200999.0,0.0,1,2004.0,NaN,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,0.0,0,2004.0,NaN,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,0.0,0,2004.0,NaN,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,0.0,0,2004.0,NaN,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,0.0,0,2004.0,NaN,2175

In [332]:
df4 = df3.replace("(I)",1)

In [335]:
df4.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008.0,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008.0,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008.0,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008.0,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008.0,NaN,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,0.0,0,2008.0,NaN,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,0.0,0,2008.0,NaN,15108
47,AL,1,H2AL01077,1,R,0.0,0.0,161067.0,0.0,1,2004.0,NaN,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,0.0,0,2004.0,NaN,93938
50,AL,2,H2AL02067,1,R,0.0,0.0,177086.0,0.0,1,2004.0,NaN,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,0.0,0,2004.0,NaN,70562
53,AL,3,H2AL03032,1,R,0.0,0.0,150411.0,0.0,1,2004.0,NaN,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,0.0,0,2004.0,NaN,95240
56,AL,4,H6AL04098,1,R,0.0,0.0,191110.0,0.0,1,2004.0,NaN,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,0.0,0,2004.0,NaN,64278
59,AL,5,H0AL05049,1,D,37573.0,0.0,200999.0,0.0,1,2004.0,NaN,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,0.0,0,2004.0,NaN,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,0.0,0,2004.0,NaN,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,0.0,0,2004.0,NaN,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,0.0,0,2004.0,NaN,2175

In [336]:
results_clean = df4.drop_duplicates()

In [338]:
results_clean.count()

state_abbreviation          13459
district                    13399
fec_id                      13459
incumbent                   13459
party                       13352
primary_votes               13459
runoff_votes                13459
general_votes               13459
ge_runoff_election_votes    13459
ge_winner_indicator         13459
year                        13459
blank                           0
total_votes                 13459
dtype: int64

In [340]:
results_clean.drop('ge_runoff_election_votes', axis=1, inplace=True)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [341]:
results_clean.drop('ge_winner_indicator', axis=1, inplace=True)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [342]:
results_clean.drop('blank', axis=1, inplace=True)

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [343]:
results_clean.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,year,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,2008.0,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,2008.0,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,2008.0,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,2008.0,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,2008.0,1312
22,NJ,2,H0NJ02098,0,SUS,0.0,0.0,648.0,2008.0,648
43,RI,1,H6RI01104,0,I,0.0,0.0,15108.0,2008.0,15108
47,AL,1,H2AL01077,1,R,0.0,0.0,161067.0,2004.0,161067
48,AL,1,H2AL01119,0,D,0.0,0.0,93938.0,2004.0,93938
50,AL,2,H2AL02067,1,R,0.0,0.0,177086.0,2004.0,177086
51,AL,2,H4AL02063,0,D,0.0,0.0,70562.0,2004.0,70562
53,AL,3,H2AL03032,1,R,0.0,0.0,150411.0,2004.0,150411
54,AL,3,H4AL03046,0,D,0.0,0.0,95240.0,2004.0,95240
56,AL,4,H6AL04098,1,R,0.0,0.0,191110.0,2004.0,191110
57,AL,4,H4AL04028,0,D,0.0,0.0,64278.0,2004.0,64278
59,AL,5,H0AL05049,1,D,37573.0,0.0,200999.0,2004.0,238572
60,AL,5,H2AL05078,0,D,4393.0,0.0,0.0,2004.0,4393
62,AL,5,H4AL05066,0,R,6742.0,2371.0,74145.0,2004.0,83258
63,AL,5,H2AL05060,0,R,6007.0,2130.0,0.0,2004.0,8137
64,AL,5,H4AL05058,0,R,2175.0,0.0,0.0,2004.0,2175

In [ ]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(data, class_column='label')

In [ ]:
from sklearn.model_selection import train_test_split as tts 

X = data[[
    '??', '??', '??', '??', '??', '??', '??'
]]
y = data['label']

print(X.shape)
print(y.shape)

In [ ]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)